[2015-10-02 23:44] REAS commented on #162
@shiffman Is this list (enhance Data and add Video) in addition to the new Learning Processing list that @philiptr has?

[2015-10-02 23:46] REAS commented on #168
This is a duplicate of processing/processing-website#406, but it would be great for @JakubValtar to collaborate on it.

[2015-10-02 23:46] #168 closed

[2015-10-02 23:48] REAS commented on #228
@alignedleft This is ready to go, scripts are up and running...

[2015-10-02 23:50] REAS commented on #230
We plan to relaunch the Foundation site in about a month with a new backend and frontend, so changes won't be made to the current site.

[2015-10-02 23:50] #230 closed

[2015-10-02 23:51] JakubValtar commented on #168
Sorry, I was so busy with the core that I haven't found time for this.
Still on my to-do list.

On Fri, 2 Oct 2015 19:46 Casey Reas notifications@github.com wrote:

[2015-10-02 23:53] REAS commented on #168
Oh, yes, of course. It has been busy around here. The Reference stuff has a steep learning curve and Scott and I are fast with it. I thought it would be good for us to take this one for you, but with your guidance for questions.

[2015-10-03 03:45] #322 closed

[2015-10-03 03:54] REAS commented on #232
Also a similar issue with `PVector.add()`. I was in the flow, so I took care of it. Sorry to steal it away from you, Scott.

[2015-10-03 03:54] #232 closed

[2015-10-03 04:02] #227 closed

[2015-10-03 04:05] REAS commented on #211
Dan made this clear video about the 3.0 Debugger: https://vimeo.com/140134398

[2015-10-03 04:05] #211 closed

[2015-10-03 04:08] REAS commented on #194
I think it will work and the files are reasonable... so it's now a matter of doing it. Some of these tutorials are redundant to other examples, but I think it's OK to include those files twice.

[2015-10-03 04:12] REAS commented on #157
Deck hasn't worked out, so we need to look into alternatives. What's a good fit for us?

[2015-10-03 04:14] REAS commented on #90
I think they are documented well enough for the people who want to adjust them.

[2015-10-03 04:14] #90 closed

[2015-10-03 04:14] #155 closed

[2015-10-03 04:33] REAS commented on #51
OK, group. I tagged the following to the end of the `noise()` reference:

I am closing Issue #51 out, but I can make further edits to it if there are reasonable corrections or a persuasive dissenting opinion.

[2015-10-03 04:33] #51 closed

[2015-10-03 04:58] REAS commented on #27
Not sure what the issue was, I added the @webref etc. to PApplet.java and the reference entry built fine.

[2015-10-03 04:58] #27 closed

[2015-10-03 05:38] REAS commented on #64
Done.

[2015-10-03 05:38] #64 closed

[2015-10-03 05:38] REAS commented on #39
Done.

[2015-10-03 05:38] #39 closed

[2015-10-03 06:38] REAS opened #326 "Site security"
The website doesn't appear secure and it's likely the way the fonts are loading. How to fix this? This is from the main `style.css` file:

[code]

Or, is it something else?

[2015-10-03 15:40] shiffman commented on #162
This is included in the list @philiptr has.  I'll excerpt the e-mail I sent a while back here so we can continue any discussion here.

---------------

Here is the list of existing tutorials and their corresponding chapter from Learning Processing:

* Coordinate System and Shapes -- chapter 1
* Color -- chapter 1
* Objects -- chapter 8
* Strings and Drawing Text -- chapter 17
* Images and Pixels -

[2015-10-04 00:54] REAS opened #327 "Create content for Education page on processing-docs Wiki"
https://github.com/processing/processing-docs/wiki/Curriculum-Resources

I copied the page structure from p5.js. We can add our content, then when it's filled out a bit, invite others to add as well.

[2015-10-05 06:18] JakubValtar commented on #318
@reas Currently this is what we have:

If you want more `key`s like pageup, pagedown, home, end, or F1-F12, it's trivial to add them, they are all in extended ascii.

[2015-10-05 15:33] benfry commented on #318
I don't think we ever had support for PAGE_UP, PAGE_DOWN, HOME, and END. I think it was a reference typo that wasn't actually included in PConstants.

[2015-10-05 15:44] REAS commented on #318
OK, I'm closing this out. Thanks gents.

[2015-10-05 15:44] #318 closed

[2015-10-05 16:01] benfry opened #328 "clip() and noClip() in PGraphics are pulling their reference from 'shaders'"
The reference for `clip()` and `noClip()` in `PGraphics` are pulling from the shader ref, so the entry is getting destroyed when doing `ant run` because the reference is then applied into `PApplet`.

At the moment, git is trying to get me to check in a bad copy of `PApplet` which propagates the error in `PGraphics`.

[2015-10-05 16:01] benfry commented on #328
[code]

[2015-10-05 16:20] REAS commented on #162
Thanks Dan. It's very useful to have this information here.

[2015-10-05 16:24] REAS commented on #328
OK, that's my error, but I'm not sure the best way to fix it. Remove my edits to PApplet and commit that?

[2015-10-05 18:35] benfry commented on #328
PApplet just gets it from PGraphics, so the edit needs to happen there. The PApplet portion is auto-generated during `ant run`. For future checkins, you should probably do an `ant run` after making edits in `PGraphics` and others, so that the new versions get copied into PApplet (and you're aware of what those edits are).

[2015-10-05 18:35] benfry commented on #13
Maybe this is a job for github pages? I guess we lost this when we moved from Google Code?

[2015-10-05 18:37] REAS commented on #328
Yes, I was rusty and in a fever of documentation fixes. I'm sorry about the glitch. It should be fixed now with the latest commit.

[2015-10-05 19:51] benfry commented on #328
Sorry, I must have misread your comment—I thought you asked if you should modify PApplet. But looks like we're all set now.

[2015-10-06 01:48] shiffman commented on #13
I'm glad to take this one and set-up a gh-pages repo for hosting the javadocs.  Where do I pull them from?

[2015-10-06 12:39] benfry opened #329 "Typo in loadTable() reference"
https://github.com/processing/processing/issues/3964

[2015-10-07 20:06] shiffman commented on #173
I read over the examples package wiki and I think this issue can be closed.  We can open new issues if we find corrections or other problems with the explanation.

[2015-10-07 20:06] #173 closed

[2015-10-07 20:17] shiffman commented on #310
I've now updated the PShape tutorial as well with additional language about `P3D` and `setTexture()`.

[2015-10-07 20:17] #310 closed

[2015-10-07 20:26] shiffman commented on #13
I was able to get this online and available here:

http://processing.github.io/processing-javadocs/core/

This is the repo where I am storing the files:

https://github.com/processing/processing-javadocs/

I could rename the repo to "javadocs" only which would simplify the URL, but I chose to stay with the processing-x style.

What do you guys think?

[2015-10-08 13:58] REAS commented on #13
Thanks Dan!

Interesting. We currently have Processing Core in GitHub here:
https://github.com/processing/processing/tree/master/build/javadoc/core
It shows up online here: http://processing.org/reference/javadoc/core/

This post was originally for making Javadocs for the Serial, Network, PDF, etc.

Maybe this new way is better with gh-pages for all of it?

[2015-10-09 16:05] farm402 opened #330 "Sound library reference Amplitude"
The demo code for Amplitude doesn’t work. I think

in.start();

is missing in the setup().

[2015-10-10 14:38] shiffman commented on #13
Ok, I see.  I now have the javadocs for "core", "everything", and "libraries" all here:

http://processing.github.io/processing-javadocs/core/
http://processing.github.io/processing-javadocs/libraries/
http://processing.github.io/processing-javadocs/everything/

I could also add libraries to everything and just have only that one javadocs, not sure whether it makes sense to have these three.

@rea

[2015-10-10 14:40] benfry commented on #13
If that's working, that seems fine?

[2015-10-10 18:50] shiffman commented on #13
Ok, these changes have been made to `build.xml` with https://github.com/processing/processing/commit/7b0affc13c676c8b5f9d53452403c5fed08f26b8. @REAS if this all seems good to you, you can close.

[2015-10-10 19:21] REAS commented on #13
Amazing Dan! I will close this after I link to these pages from the reference.

[2015-10-11 01:41] shiffman commented on #13
Great!  I'll just note here that (at the moment) this is a manual process of copying the javadocs over which I can do when there are new releases.   If for some reason I miss it, anyone on github should feel free to remind me.

[2015-10-13 21:36] #328 closed

[2015-10-13 21:37] REAS opened #331 "hint() reference is broken"
The hint() page is not found: https://processing.org/reference/hint_.html

[2015-10-13 21:42] REAS commented on #13
@shiffman With the changes to made to `build.xml` the system we have in place is working for the Libraries: http://processing.org/reference/javadoc/libraries/

So, @benfry the question is -- should we use the new GitHub pages solution or stick with what we have?

Something to note, we have the full Javadoc HTML in processing/processing. I think we're redirecting to the checked out repo on the serv

[2015-10-15 11:02] web-art-design opened #335 "Processing video tutorials have no sound"
Sound is working for other videos such as "Welcome to Processing 3 by Daniel Shiffman" but not for "Hello Processing by Daniel Shiffman et al." any ideas? I am running Windows 10 ...

Thanks
Richard

[2015-10-15 11:24] web-art-design commented on #335
Sorted, I was using Microsoft Edge rather than Internet Explorer. Edge does not allow plugins and therefore no java!!

Cheers
Richard

[2015-10-15 13:38] shiffman commented on #335
Glad to hear, thanks!

[2015-10-15 15:19] REAS commented on #335
I was having trouble with audio on http://hello.processing.org yesterday on Chrome (up to date) on Mac 10.10.3. To get the sound to play, I had to click the play button more than once.

[2015-10-16 05:15] theantonius opened #337 "Lag in Serial I/O SimpleWrite example"
I'm running the Serial I/O SimpleWrite example with Processing 3.0b6 and uploaded an Arduino Uno equivalent board with Arduino IDE 1.6.5.

When running the Serial I/O SimpleWrite as is, there is a significant lag sending data from Processing to Arduino. But if you comment out the delay(100) function in the Arduino code it works fine. That function shouldn't cause so much delay, but it does.

Looks

[2015-10-16 05:51] REAS commented on #337
@gohai?

[2015-10-16 15:47] shiffman commented on #335
Any ideas @scottgarner?  Should we move this issue to: https://github.com/scottgarner/Processing-Hour-Of-Code

[2015-10-16 15:49] shiffman commented on #335
(FYI I'm experiencing the same issue in chrome and safari.)

[2015-10-16 16:03] scottgarner commented on #335
Odd! I think remember adding code to force a volume change, maybe that behavior has changed in current browser versions?

I'll check it out when I get to a laptop.

[2015-10-17 01:58] scottgarner commented on #335
Hmm. Nothing obvious at first glance, but I do see that Vimeo updated their player on the 15th. My first guess is that they goofed something up or that something in the API has changed. I'll close this issue and open another one in the Hour of Code repository. I'll take look there early next week.

[2015-10-17 02:01] scottgarner commented on #335
Oops! I can't close here, but the new issue is here:

https://github.com/scottgarner/Processing-Hour-Of-Code/issues/72

[2015-10-17 02:19] #335 closed

[2015-10-17 20:13] lesmana opened #338 "arrays tutorial missing ring and spot class"
The arrays tutorial is missing the ring and spot class.
https://processing.org/tutorials/arrays/

The text says: "Ring class from page 371" and "Spot class from page 363" but there is no page 371 and 363.

I found the missing code in the examples for the book available to download here:
https://processing.org/handbook/
https://processing.org/handbook/Handbook_Examples_20150105.zip
(chapter 28, exa

[2015-10-18 06:13] lesmana commented on #338
close because pull request merged

[2015-10-18 06:13] #338 closed

[2015-10-18 10:19] gohai commented on #337
It does indeed take ~ 7 seconds for the LED to change, and it is fixed by removing the delay(100). Not sure why really, but the issue is clearly on the Arduino side. I'll go ahead and make the change to the example.

@theantonius Thanks for reporting.

[2015-10-18 10:19] #337 closed

[2015-10-18 10:26] gohai commented on #337
Ah, now I got it: the problem is that the example sends a character to the Arduino for every frame. The Arduino meanwhile reads in one character (which is the least recent one in the buffer) and then sleeps 1/10th of a second.

A good fix is e.g. consuming all the bytes in the buffer on read, so that the Arduino is acting on the most recently received information instead. (So while() instead of if

[2015-10-18 10:55] gohai commented on #337
PR send for 3.0.1

[2015-10-18 11:58] theantonius commented on #337
Thanks! cc'ing @tigoe

[2015-10-18 12:06] gohai commented on #337
@tigoe Here's the proposed fix: https://github.com/gohai/processing/commit/531dbc295f96dbc07c5b31365c79aff717a2d6c0

[2015-10-19 13:32] gohai opened #341 "Reference: Ability to overwrite @return"
Hacking on the reference for processing-io I ran into two things that I couldn't get to work - and I think which might be limitations of the script that cranks out the reference. Posting them as separate issues for reference. Please feel free to close if this is known or very much the expected behavior. (And please tell me if there is a way to do it altogether!)

In Javadoc I sometimes use @return

[2015-10-19 13:43] gohai opened #342 "Reference: Ability to overwrite @syntax"
Hacking on the reference for processing-io I ran into two things that I couldn't get to work - and I think which might be limitations of the script that cranks out the reference. Posting them as separate issues for reference. Please feel free to close if this is known or very much the expected behavior. (And please tell me if there is a way to do it altogether!)

As far as I can tell, a method's s

[2015-10-19 14:32] alignedleft commented on #341
@gohai Thanks for this. Our dream is to be able to rewrite the reference generator scripts to be able to accommodate scenarios like this. Yet, I don't think we have anyone with the skills and/or time to do this right now.

One complication is that, in general, we want to keep as much of the documentation directly in the source, so it also feeds into the JavaDoc.  Currently, everything except the e

[2015-10-19 14:32] alignedleft commented on #342
@gohai Thanks for this. Our dream is to be able to rewrite the reference generator scripts to be able to accommodate scenarios like this. Yet, I don't think we have anyone with the skills and/or time to do this right now.

One complication is that, in general, we want to keep as much of the documentation directly in the source, so it also feeds into the JavaDoc.  Currently, everything except the e

[2015-10-19 18:29] gohai commented on #341
@alignedleft Thanks & understood!

[2015-10-19 18:29] gohai commented on #342
@alignedleft Thanks & understood!

[2015-10-19 18:30] gohai commented on #331
@REAS (Casey, not sure if this is related or not, but I noticed that the links from [reference/libraries/io/index.html](https://processing.org/reference/libraries/io/index.html) are equally 404 at the moment.)

[2015-10-19 23:08] benfry commented on #13
Yes, let's use the Github pages option and keep 'em separate. In the past, we were serving the repo directly from the web server so it worked properly (that's why we we're getting that the weird redirect).

[2015-10-20 02:36] REAS commented on #13
OK. Thanks. I'll first add the new links to the GitHub pages into the Reference and build that, then I'll remove the files within the `javadoc` folder in build and will add the `javadoc` folder to `.ignore`

[2015-10-20 13:11] benfry commented on #13
Sounds good. Don't add the javadoc to ignore otherwise I think it may never be deleted from anyone else's machine when they `git pull`. Removing the `build/javadoc` folder should be all that's needed.

[2015-10-21 09:40] quarks opened #343 "Broken link on GitHub Wiki"
On the Tools basic page there is a link to the Editor class

processing.app.Editor

it should be

processing.app.ui.Editor

Page URL:
https://github.com/processing/processing/wiki/Tool-Basics

[2015-10-21 15:37] REAS commented on #343
Thanks. This is fixed now.

[2015-10-21 15:37] #343 closed

[2015-10-21 21:49] REAS commented on #13
Ok, thanks @benfry and @shiffman. This is finished.

[2015-10-21 21:49] #13 closed

[2015-10-21 21:54] REAS opened #344 "Core reference and Libraries reference entries share the same template"
Because there's a single template to build all of the reference pages, the Library reference pages have the wrong left-nav option selected (`Reference` and not `Libraries`). Also, they can't have a custom message at the top of the page about the Javadoc. I think this requires digging into `java-generate` and rebuilding the Java classes.

In addition, the non-core Libraries from the Processing Foun

[2015-10-22 15:18] benfry opened #345 "SSL "broken" on the download pages"
Because of references to http://www.google.com/search, the download and donate pages are no longer marked as safe for SSL. Should be a simple matter of change the URL to //www.google.com/search (just removing the `http:` before it).

This is probably reported elsewhere, just running into it while setting up forum.processing.org.

[2015-10-22 20:54] REAS commented on #345
Great! Fixed on download page.

[2015-10-22 20:54] #345 closed

[2015-10-22 20:58] REAS commented on #326
It was something else -- the links to Google search. Fixed.

[2015-10-22 20:58] #326 closed

[2015-10-23 21:13] setphen opened #346 "JSONObject documentation should include isNull"
https://processing.org/reference/JSONObject.html

The method JSONObject.isNull(String key) should be documented on this page. It's handy. It should also be documented for JSONArray, possibly others.

[2015-10-24 17:18] benfry commented on #346
Good idea.

[2015-10-27 23:53] NeXTMac opened #347 "Not geting latest build from download - Mac OS X"
When I download the latest version 3.0 for Mac OS X the download confirms that I get the version 3.0.1 (thats what I see in the finder too) but when I open Processing it tells me that I have sketch_151027a - Processing 2.1.1!
![version bug mac os x - finder](https://cloud.githubusercontent.com/assets/15351614/10775990/cfc4ed2a-7d0d-11e5-865c-2f33bf7b9d34.jpg)
![version bug mac os x](https://cloud.

[2015-10-29 00:15] REAS commented on #347
Many people are running 3.0.1 fine on OS X. Please explain more about how you are opening the software. If you already have 2.1.1 open, 3.0.1 won't open on top of it -- it's only possible to have one version running at a time. This is a better question for the forum: http://forum.processing.org I am closing this issue on GitHub.

[2015-10-29 00:15] #347 closed

[2015-10-30 13:51] felixbade opened #348 "Simpler TAU explanation"
In my opinion, TAU should be explained as "It is the ratio of the circumference of a circle to its radius.", not "It is twice the ratio of the circumference of a circle to its diameter.". The relationship between circumference and radius is the very reason why anybody would want to use tau instead of pi.

This is the doc page for TAU https://processing.org/reference/TAU.html

[2015-10-30 15:53] REAS commented on #348
OK, also a note:
"the circle constant relating the circumference of a circle to its linear dimension" http://tauday.com/tau-manifesto

[2015-10-31 15:25] joetennis opened #349 "intDict.values description wrong on intDict reference TOC"
at:
file:///Applications/Processing.app/Contents/Java/modes/java/reference/IntDict.html

in the table of methods and brief descriptions, the intDict.values description is a copy of in intDict.keys

values()	Return the internal array being used to store the keys <<----

[2015-11-04 16:21] clankill3r opened #350 "javadoc is gone"
There are links in PGraphics for example to:
http://processing.org/reference/javadoc/core/

but it appears the javadoc is gone.

[2015-11-06 13:33] piotrva opened #351 "rotate documentation - missing desc for 4 params function"
There is no description on how rotate(angle, x, y, z) is working...

[2015-11-06 21:34] REAS commented on #351
This is strange, it was issue #26 and is marked closed, but the issue is still there. I just made a commit and it should be removed on the next update.

[2015-11-06 21:34] #351 closed

[2015-11-06 21:36] REAS commented on #350
It's here: http://processing.github.io/processing-javadocs/core/

I will go through the reference and look for other old links. I'll leave this open until it's fixed.

[2015-11-06 21:40] REAS commented on #350
OK, updated for the next release.

[2015-11-06 21:40] #350 closed

[2015-11-09 23:31] REAS commented on #349
Thanks. This is fixed for the next update.

[2015-11-09 23:31] #349 closed

[2015-11-09 23:36] REAS commented on #348
This is fixed for the next update.

[2015-11-09 23:36] #348 closed

[2015-11-10 00:58] REAS commented on #346
OK:
https://processing.org/reference/JSONObject_isNull_.html
https://processing.org/reference/JSONArray_isNull_.html

Let me know if you think a different example is better.

[2015-11-10 00:58] #346 closed

[2015-11-10 01:06] REAS commented on #330
Thank you. This is updated for the next release. @wirsing please confirm this is correct.

[2015-11-10 01:06] #330 closed

[2015-11-10 04:05] REAS commented on #329
This reference entry is correct as is, no change needed.

[2015-11-10 04:05] #329 closed

[2015-11-12 22:12] Kieknuon opened #354 "Using some size(x,x,P3D) causes error when closing scetch"
Using different size like "size(1000,1000,P3D);" causes an error when closing it with x button but if my size is like "size(400,400,P3D)" there is no error at all and its totally random sizes on different sketches that causes it. Sometimes deleting part of the code gets rid of this error its weird since the sketch itself works;

some examples
 this one closes perfectly

void setup() {size(1000, 10

[2015-11-12 22:17] alignedleft commented on #354
This area is for website and reference issues. This should be reported in: https://github.com/processing/processing/issues

Please make sure to include the version number of Processing you're using as well as your OS.

[2015-11-12 22:17] #354 closed

[2015-11-13 04:28] REAS opened #355 "Improve the reference for .clear()"
See processing/processing#4131, we should include beginDraw() and endDraw() and state they are needed so the example and description works across all renderers.

[2015-11-13 20:53] shiftleftplusone opened #356 "Raspberry Pi: no context sensitive help (show usage) for GPIO or digitalRead or GPIO.INPUT"
Raspberry Pi:
no context sensitive help (show usage)  for GPIO or digitalRead or GPIO.INPUT available -
not clear if one needs pullups for a button switch or not, and how to enable built-in pullups/pulldowns

is there something like
pullUpDnControl(butPin, PUD_UP); // Enable pull-up resistor on button
?

[2015-11-14 09:56] REAS commented on #356
Are you asking about documentation links within the text editor (the PDE)?

[2015-11-14 10:19] VogonJeltz commented on #356
yes, right mouse click on the keyword, then "Show_Usage": does not work

[2015-11-16 22:03] JakubValtar opened #357 "KeyCode reference: add link to NEWT keyCodes"
[KeyCode reference page](https://processing.org/reference/keyCode.html) links to AWT's KeyEvent, but OpenGL renderers are using different keyCodes and people are trying to match them with AWT (see processing/processing#4139). We should tell people to use [NEWT KeyEvent constants](https://jogamp.org/deployment/jogamp-next/javadoc/jogl/javadoc/com/jogamp/newt/event/KeyEvent.html) when they work with

[2015-11-19 12:01] AnonGreen commented on #22
PShape.setFill()/setStroke(); dot synatax seems not working properly for SVG images.
es.

PShape cow;

void setup(){
 size(300, 300);
 cow = loadShape("cow.svg");
}
void draw(){
  background(204);
  cow.disableStyle();
 shape(cow, 10, 10, cow.width, cow.height);
 cow.setStroke(color(255,0,0));
 cow.setFill(color(0,255,0));
}

I should see a green cow with  red stroke, but what I see is a default w

[2015-11-20 11:41] sonification opened #358 "Processing Handbook Errata - pg 101"
code for example 7-32 line 13
I believe the 3rd argument for Line() should be 'width' instead of 'height'

Keep up with the great work!
R

[2015-11-20 18:36] REAS commented on #358
We have a running list here: https://github.com/processing/processing-docs/wiki/Processing-Handbook-Errata

Thank you for the contribution!

[2015-11-20 18:36] #358 closed

[2015-11-20 19:08] REAS commented on #22
For programming questions, please post to the Processing Forum: https://forum.processing.org

In this case, you don't need to use the setStroke() and setFill() syntax.

[code]

[2015-11-24 22:27] codeanticode opened #359 "update Shader tutorial"
Some of the references are outdated, and the type defines are not longer needed. The GLSL code can also be updated to use position instead of vertex, among a few other minor things.

[2015-11-25 01:40] jonnystokes opened #360 "typo in pvector tutorial"
in the second paragraph last line

  Vectors: You Complete Me

should be

[link to pvector tutorial](https://processing.org/tutorials/pvector)

[2015-11-26 20:24] gohai opened #361 "Provide download URL outside of Github"
At least certain ISPs inside China seem to be blocking access to Github's servers, which are being used to download Processing releases.

[2015-11-29 04:40] alignedleft commented on #154
I've been working on this, and am making progress!

I am testing this on beta. Please do not update the Examples on the live site right now, as everything will break. :-)

I think two major steps remain:

1. Finish updating the examples.php and Example class to differentiate between the p5 and PDE versions. Right now, the p5 versions are loading and work (see [the Star example](http://beta.process

[2015-12-07 18:17] teddybear02 opened #362 "Typo in reference for text()"
The description for parameter x1 was copy-and-pasted as the description for y1, without then switching the "x" to a "y".  This is hardly an issue -- just figured I might as well flag it.

[2015-12-08 19:05] alignedleft commented on #362
@teddybear02 Great catch. Thanks for reporting this! This will be fixed with the next website refresh and in the next release of the software.

Please let us know if you find any other typos.

[2015-12-08 19:05] #362 closed

[2015-12-13 11:22] AlvaroLau commented on #277
Hi!
I'm new to processing too and, as boxcorner, I just purchashed the book and started to dig into it.
The '/'  error has not been fixed in the Handbook_Examples_20150105 package linked from the Processing page. Same with the name of the files.
MacOs 10.11.2

Cheers!

[2015-12-13 16:49] rumbero opened #363 "Sound Tutorial - Example 1 : Redundant code"
In example 1 we have the following code:
sineFreq[i] = frequency \* (i + 1 \* detune);
it is equivalent to
sineFreq[i] = frequency \* (i + detune);

Is this consistent with the intentions of the author or prehaps
sineFreq[i] = frequency \* ((i + 1) \* detune);
or
sineFreq[i] = frequency \* (i + 1 + detune);
was meant?

[2015-12-15 05:56] mkmori opened #364 "References don't link to beginCamera()"
It seems like a link to "beginCamera()" is missing from the "Related" sections for "camera()", "endCamera()", "frustum()", etc. (And maybe "beginCamera()" wants to link to "endCamera()"...?)

https://processing.org/reference/camera_.html
https://processing.org/reference/endCamera_.html
https://processing.org/reference/frustum_.html

https://processing.org/reference/beginCamera_.html

FWIW!

[2015-12-17 07:10] erbenton opened #365 "website text correction"
Just an English correction at https://processing.org/reference/libraries/io/index.html:
"The Hardware I/O library allows to access the computer's hardware periperals"
has 2 problems, a misspelling and backwards article
It should be:
The Hardware I/O library allows **access to** (not **to access**) the computer's hardware peripherals
I know its nit picking, but that's really poor usage of English t

[2015-12-20 19:09] #364 closed

[2015-12-20 21:04] #365 closed

[2015-12-20 21:07] alignedleft commented on #365
Thanks, @erbenton! Great catch. This is now fixed.

[2015-12-20 21:08] alignedleft commented on #364
Thanks, @mkmori! Great catch.

I've added "related" links to `beginCamera()` from the first three pages you cited.

I didn't edit the `beginCamera()` page, as it already links to `endCamera()`.

[2015-12-21 20:28] gohai commented on #365
Thanks @erbenton & thanks @alignedleft for fixing! Please holler if you find anything else that you think needs fixing - also if some parts of the Hardware I/O library's documentation aren't making sense to you. It was a very rushed effort to get this into the tree before 3.0.1, and English isn't my native language either!

[2016-01-04 13:58] AlvaroLau opened #366 "Chapter 13 Images exercise files not matching"
Hi!

you may want to review the content of the exercise folders, since they stop matching the examples on the book. The exercise 13-16 doesn't exist either.

Cheers

[2016-01-04 18:31] alignedleft commented on #366
@AlvaroLau Which book are you referring to?  The Handbook by Fry and Reas? If so, are you referencing the first or second edition? (The Processing files were recently updated to sync with the second edition.)

Can you be more specific about what isn't matching? Thanks.

[2016-01-05 09:24] AlvaroLau commented on #366
Yes, sorry.

The handbook second ed.

From the ex. 13-12 on  examples are offseted:

ex. 13-12 in the book is 13-13 in the exercise folders
ex. 13-13 in the book is 13-14 in the exercise folders
ex. 13-14 in the book is 13-15 in the exercise folders
ex. 13-15 in the book is 13-16 in the exercise folders
Note that:
ex. 13-16 in the book is 13-12 in the exercise folders

Not a big issue, since the e

[2016-01-05 15:26] AlvaroLau opened #367 "Code 14-21 Vs Image and code in the exercise files"
MInor thing:  the code on page 183, exercise 14-21 shows noStroke and fill while the image that illustrates the code and the code itself in the exercise files shows noFill and stroke:

<html><body><pre>
<span style="color: #006699;">background</span>(0);
<span style="color: #006699;">noStroke</span>();
<span style="color: #006699;">fill</span>(255, 48);

</pre></body></html>

vs

<html><body><pre>

[2016-01-07 10:50] borutkolar opened #368 "Server - Client"
Hello.
When I am trying to establish a Server - Client service, it gives me this 2 errors. I copied the code from processing.org. Does somebody know what is wrong?
![client](https://cloud.githubusercontent.com/assets/16591747/12168776/c1293988-b534-11e5-9f82-6318fcc5c661.jpg)
![server](https://cloud.githubusercontent.com/assets/16591747/12168775/c128aef0-b534-11e5-84da-b01023d41396.jpg)

[2016-01-07 19:10] REAS commented on #366
I'll look at it. Thanks for the report.

[2016-01-07 19:11] REAS commented on #367
Thanks for the report. I'll have a look.

[2016-01-08 11:58] nielsbom opened #369 "Explode example not working"
https://processing.org/examples/explode.html

I only see a black screen here. Tried it in different browsers. All the other examples _do_ work.

[2016-01-09 21:12] AlvaroLau opened #370 "Erratum P. handbook 2nd ed."
A small one:

P. handbook 2nd Ed.
Page 203. Paragraph. line 5:
it says "... and the number of <b>sizes</b>. When the... " when it should say  <b>sides</b>.

[2016-01-09 22:03] andryspark opened #371 "we're off on the wrong foot"
i need to use the 2.2.1 version of processing but when i start it, it shows me an error message:
![immagine](https://cloud.githubusercontent.com/assets/11706675/12218615/9067b652-b724-11e5-89d7-5a3a8e134fd3.png)
I very don't know how to fix this error, i tried to reinstall the programm, delete dei preferences file and restart the program but nothing, before an update of java it was ok, however i t

[2016-01-10 12:17] alignedleft commented on #371
This looks like a good question for the forum: forum.processing.org

In any case, this is not a docs issue, so I'm closing this.

[2016-01-10 12:17] #371 closed

[2016-01-11 23:33] lewisgard commented on #310
Hi I'm a newbie to processing and I'm very excided with what I'm finding so far. I have installed the system on both my PC and Android devices. I was trying to run the planet example on my phone and found that the planet texture wouldn't show up. After reading this post I tried changing planet#.texture(surftex#)  to planet#.setTexture(surftex#) and now if works great. You may want to fix it in the

[2016-01-15 03:23] jwdunn1 opened #372 "Spelling error on page"
There's a spelling error in processing.org/reference/PVector_mult_.html

In the description, third sentence, it says "and a float as arugments are static".
It should be spelled "arguments".

[2016-01-15 17:28] REAS commented on #372
Thanks, I will correct this.

[2016-01-15 17:33] alignedleft opened #373 "Google Search broken from Reference pages"
[Originally reported](https://github.com/processing/processing-web-archive/issues/448) by @ghufransyed:

It works on the front page (processing.org), if I enter 'rect' in the search box, it redirects to google with rect as the search parameter, at
https://www.google.com/search?as_sitesearch=processing.org&as_q=rect
If I click on the first link given, I get the following page:
https://processing.or

[2016-01-15 17:34] alignedleft commented on #373
Confirmed. This issue only seems to affect individual Reference pages, not other pages on the site, and not the main Reference index page. Looking into it…

[2016-01-15 17:44] alignedleft commented on #373
Fixed! The site has been updated. Thanks, @ghufransyed.

[2016-01-15 17:44] #373 closed

[2016-01-19 04:54] tomoki opened #374 "Document says " Programs without a draw() function exit automatically ", but they do not."
This document https://processing.org/reference/exit_.html says:

But, following program does not exit automatically.

[code]

It prints message, shows small window and stays running.
![2016-01-19-135047_137x158_scrot](https://cloud.githubusercontent.com/assets/362793/12410002/aa37ec3c-beb3-11e5-81dd-ecd763b44527.png)
I expect that this program exits automatically after printing message.

I encount

[2016-01-20 03:13] alignedleft commented on #374
The behavior you see is correct. Without a draw() loop, the program has "finished", meaning it's no longer performing any work, although the window remains open.

However, the language you point out in the docs may be confusing, if "exiting" means "the window closes". I think in this context "exiting" means "the program stops executing, although the window remains open."

Perhaps someone closer to

[2016-01-20 04:38] tomoki commented on #374
@alignedleft

Thank you for describing this issue.
Now I understood the problem.

The problem is that `exit()` in processing programs and "exit" in the document are different.

I thought that this statement means the program without `draw()` will be transformed into the program with `exit()` like following.
[code]

`exit()` in the program "stops" or "kills" or "terminates" the process.
Above progr

[2016-01-20 11:11] lpdunwell opened #376 "displayDensity example"
https://processing.org/reference/displayDensity_.html

whatever happened there, that doesn't work.

[2016-01-21 11:13] manipalsingh013 commented on #372
@REAS is it still opened. I(am a beginner) would like to work on it.

[2016-01-22 04:18] manipalsingh013 commented on #360
Seeing not pull request for this issue, I have made one.
@jonnystokes can you please check it.
#377

[2016-01-22 17:02] inkwellsiesta opened #378 "mouseWheel callback doesnt fire with an event argument"
public void mouseWheel() {}
is triggered when I scroll my mouse wheel.

    public void mouseWheel(MouseEvent event) {}
isn't.

[2016-01-22 17:36] alignedleft commented on #360
Thank you both! I just pushed this update to the live site: https://processing.org/tutorials/pvector/

[2016-01-22 17:36] #360 closed

[2016-01-22 17:39] alignedleft commented on #378
This area is for posting issues with the documentation. Are you reporting a bug in the software? I'd recommend posting this first as a question on: forum.processing.org

[2016-01-22 17:39] #378 closed

[2016-01-24 20:17] inkwellsiesta commented on #378
Thanks for the feedback! I think the only issue with the docs is that they should reflect that mouseWheel() without arguments is also valid syntax.

[2016-01-26 20:44] GABBAR1947 commented on #372
@REAS  #380( #372 issue solved)

[2016-01-26 21:16] GABBAR1947 commented on #197
Well, I tried to improve it a bit
https://github.com/processing/processing-docs/commit/2a89984a3514bf353afd36298123197a02789a28

[2016-01-27 00:23] #372 closed

[2016-01-29 03:38] michelezaccagnini opened #384 "troubles with variable assignments"
I have just started using Processing in Python mode and I am encountering some issues.
I tried to run the code from the tutorial pages. Something like this:

c = color(0)
x = 0.0
y = 100.0
speed = 1.0

def setup():
    size(200, 200)

def draw():
    background(255)
    move()
   display()

def move():
    x = x + speed
    if x > width:
            x = 0

def display():
    fill(c)
    rect(x, y,

[2016-01-29 05:26] REAS commented on #384
This is a question for the Processing Forum: http://forum.processing.org

[2016-01-29 05:26] #384 closed

[2016-01-29 13:14] joiningdots opened #385 "missing parameter in fullScreen() documentation"
In the fullScreen() [documentation](https://processing.org/reference/fullScreen_.html) there is an example showing that you can apply the parameter value SPAN to go full screen across multiple monitors. (Sounds great, not yet tried it...)

`fullScreen(P2D, SPAN)`

In the parameters section, the only values mentioned are for renderer (as a string) and display (as an int - 1, 2, 3 etc. - which is a

[2016-01-29 19:27] REAS commented on #385
SPAN is a valid parameter. I'll look at fixing this in the docs. Thanks for the report.

[2016-01-31 18:26] GABBAR1947 commented on #376
Well , this works absolutely fine with processing<3.0 but with 3.0 and greater this gives error. Try using it with an older version of processing.

[2016-01-31 18:28] GABBAR1947 commented on #369
Doesn't work for 3.0 and greater versions

[2016-01-31 19:48] GABBAR1947 commented on #355
@REAS  @alignedleft  tried to improvise it a bit.

 https://github.com/processing/processing-web-archive/pull/449

[2016-02-01 11:04] erkosone opened #388 "Alpha component of PImage set to 1.0 in PGraphics when write text.."
1. make PGraphics object as frameBuffer. ej: PGraphics blitter = createGraphics(320, 200, P3D);
2. draw any PImages with: blitter.image(...

All correct!

but when i add:  blitter.text(..

Hoo no.. all alpha information of all PImages are lost.. all images painted without transparency.

at last time i have this for view frameBuffer:

 beginShape();
    texture(blitter);
    vertex(0,0,    0,0);

[2016-02-01 13:12] erkosone commented on #388
Hello, I have discovered the cause of the error .. is in the method "setFont ()" of PGraphics object ..

If not set any text font everything works correctly, if I do .. I lose the alpha channel of the graphics I paint in blitter.

[2016-02-01 19:35] shiffman commented on #369
We are (slowly but surely) working on updating all the online examples to run with p5.js in the background.  After this work is completed this and other related issues will be resolved.  Can be followed here: https://github.com/processing/processing-docs/issues/154.  Will leave this open and self-assign, closing after the p5.js work is completed.

[2016-02-02 05:27] REAS commented on #376
@GABBAR1947 The displayDensity() function is new for the Processing 3.0 releases. I'm not sure why it's not working in 3.0.1, but it should work. I think it should be submitted as a bug.

[2016-02-02 06:01] erkosone commented on #388
I forgot to say that this only happens in android mode.

[2016-02-02 07:25] GABBAR1947 commented on #376
@REAS  I'll work on it

[2016-02-02 23:21] REAS commented on #388
If that's the case, it should be filed with the Android repo: https://github.com/processing/processing-android/issues

[2016-02-02 23:21] #388 closed

[2016-02-04 14:09] alignedleft commented on #154
Issue 1 above appears to be resolved.

Issue 2 is moot. No need to add special flags to the XML — we simply will exclude from the XML any examples that should not appear on the website. (The non-p5 versions of those examples will still be included in the PDE download.)

What remains to be done is manually doing a spot check of all examples on https://beta.processing.org/examples/ with the console

[2016-02-04 14:14] shiffman commented on #154
Great, I'll go through and do that spot check / accounting of all the examples on beta and then we can take the next step.

[2016-02-04 15:07] shiffman commented on #154
I've run into a small issue here.  Some of the ports have two JS files associated with them, for example:

https://beta.processing.org/examples/arrayobjects.html

This should reference both [ArrayObjects.js](https://github.com/processing/processing-docs/blob/master/content/examples_p5/Basics/Arrays/ArrayObjects/ArrayObjects.js) and [Module.js](https://github.com/processing/processing-docs/blob/mas

[2016-02-04 16:44] REAS commented on #154
I'm sure I solved that for the original script at one point, maybe it was lost in the transition? I'll have a look at the file.

[2016-02-04 17:10] REAS commented on #154
@alignedleft @shiffman Please have a look at this file:
https://github.com/processing/processing-docs/blob/master/generate/lib/Example.class.php

I think this code:
[code]

Is grabbing all of the .pde file in the folder. I think we need equivalent code for the .js files. I think the code above isn't being used right now, but it's still included in the file.

[2016-02-04 17:17] shiffman commented on #154
Yes, I can see that the JS code is coming from only the one file:

[code]

Seems like right here there could be a loop to check for all JS files in the directory?

[2016-02-05 04:10] alignedleft commented on #154
I agree, in principle! But my PHP is so rusty, and I wouldn't be able to look at this until next week.

[2016-02-05 05:45] REAS commented on #154
I think that I have that part working now, for example:
http://beta.processing.org/examples/flocking.html

I noticed that image loading is still an issue. Do you have an idea about that?

[2016-02-05 14:42] shiffman commented on #154
I think I have a handle on the image loading, stay tuned. . .

[2016-02-07 05:31] Maralis opened #390 "Error in the textAlign() page of the reference."
In the example with the ABCD EFGH IJKL letters, the textAlign(RIGHT) and textAlign(LEFT) lines are where the other one should be.

The example code looks like this:

[code]

And should look like this:

[code]

[2016-02-09 18:25] GABBAR1947 commented on #390
@REAS  any method to tackle this problem?

[2016-02-09 19:05] GABBAR1947 commented on #271
@alignedleft  is this issue resolved or still open?

[2016-02-10 05:39] alignedleft commented on #390
No, the reference and screenshot are correct. If you look at this page:

https://processing.org/reference/textAlign_.html

Copy and paste the code for the first example into Processing, and you'll see the correct result:

![screen shot 2016-02-09 at 9 35 50 pm](https://cloud.githubusercontent.com/assets/1034002/12939493/1edbebf2-cf75-11e5-9d37-d16028ff8f87.png)

[2016-02-10 05:39] #390 closed

[2016-02-10 05:46] #271 closed

[2016-02-10 05:51] alignedleft commented on #271
@GABBAR1947 Thanks for the reminder. It looks like we already added the mention to:

https://processing.org/reference/beginRaw_.html

…but this also mentioned a reference page for hint(), which doesn't exist, so I removed that mention.

I also added this note to:

https://processing.org/reference/libraries/pdf/index.html

[2016-02-10 05:52] alignedleft commented on #154
The flocking looks so awesome. Thank you both for looking into this.

[2016-02-10 10:39] GABBAR1947 commented on #390
That is fine, but why does the text align to the Left when give the right command?

[2016-02-10 14:53] REAS commented on #390
It doesn't, the alignment is in relation to the x-coordinate, which is 50 for each in the example. Is this more clear?

[code]

[2016-02-11 01:42] GABBAR1947 commented on #385
@REAS  Where are exactly the files containing Parameters?

[2016-02-12 05:20] REAS commented on #385
It's in PApplet.java in the processing/processing repo: https://github.com/processing/processing/blob/master/core/src/processing/core/PApplet.java

[2016-02-13 13:46] benfry opened #392 "parseJSONArray example missing escape characters"
https://github.com/processing/processing/issues/4260

[2016-02-13 15:35] benfry opened #393 "hint(DISABLE_ASYNC_SAVEFRAME) not documented yet"
https://github.com/processing/processing/issues/4138

[2016-02-15 17:07] GABBAR1947 commented on #385
@REAS Is it the only file to which i need to make the changes?  and all I need to append is - in display "String: SPAN to run the sketch across all screens"??

[2016-02-15 18:22] REAS commented on #385
Line 1783 `* @param display the screen to run the sketch on (1, 2, 3, etc.)` needs to be updated to include SPAN. That's all. The description isn't great for this new function, so I'll also update the XML file to improve the description.

[2016-02-15 18:25] GABBAR1947 commented on #385
but this comes under 'int' whereas span will lie under 'String'. So how do you account for this?

[2016-02-15 19:01] REAS commented on #385
`SPAN` is an 'int' defined in PConstants.java: `static final int SPAN = 0;`

[2016-02-16 18:14] PaulOrlov opened #394 "The book "Programming for Artists""
Hi, folks!
A few month ago I published the book "Programming for Artists" and shared it with CC licence. Here is a discussion about this book: https://forum.processing.org/two/discussion/14888/new-book-about-processing-programming-for-artists#latest

I would like to bring it to the https://processing.org/books/ , is it possible? You can find all information about the book here: http://ptahi.ru/201

[2016-02-16 23:09] alignedleft commented on #394
Thanks, @PaulOrlov! This looks fantastic. I'm looking into this.

[2016-02-18 03:13] apisake opened #395 "Processing.py on Objects (an error on the example)"
According to the link here http://py.processing.org/tutorials/objects/, I found a little typo at the example on converting "Simple non-OOP car" into "class Car"....

Here it is:

[code]

The marked line should be `self.xpos += self.xspeed` instead, thanks.

[2016-02-18 05:53] victorgithubvv opened #396 "Processing 3.0.2 Sound Library and SoundFile not recognized."
I created a folder named data and In Processing 3.0.2, installed the Sound library and Minim library,

 and placed a mp3 using the GUI Sketch>  Add File >groove.mp3. Why does the following code return an error?

import processing.sound.*;

//declare variable to hold the sound, not an int or float
SoundFile mySound;

void setup(){
  size(500,500);
  //use the filename to load the sound into your pr

[2016-02-18 06:43] REAS commented on #396
Please check through the error reports in the processing/processing-sound repo. That's the spot to report this: https://github.com/processing/processing-sound

[2016-02-18 06:43] #396 closed

[2016-02-20 19:09] EzzEddin opened #397 "sphere() is not available with this renderer."
It shows me this message.
I'm using Processing 3.0.2

[2016-02-20 20:51] alignedleft commented on #397
OK. How is the error triggered? Can you post your code? Please give us more information to help troubleshoot this.

I recommend posting this on forum.processing.org first. If everyone agrees it's a bug, post it to: https://github.com/processing/processing/issues/

[2016-02-20 20:51] #397 closed

[2016-02-22 11:51] GABBAR1947 commented on #385
@REAS     https://github.com/processing/processing/pull/4304    I tried to improvise it a bit.

[2016-02-24 17:24] shiffman commented on #154
Ok, I did a major round of commits today and I believe every example listed here (http://beta.processing.org/examples/) now works.  I would like to close this issue and then we can open individual issues for problems as they come up with the p5.js versions.  I am sure I missed things here and there.

There are also four examples that run rather slow and I wonder if I should remove them or if it's

[2016-02-24 21:54] alignedleft commented on #154
Dan, this is fantastic! Those four also run slow for me. In addition, this one doesn't run at all (tried Safari and Chrome):

http://beta.processing.org/examples/noise3d.html

Still, if @REAS is OK with it, I am happy to close this and push these to the live site!

I've also just pushed a commit to remove mentions of "WebGL" from the header, since that's no longer accurate.

[2016-02-25 02:32] shiffman commented on #154
Ah, I missed that one.  Noise3D should be fixed now.

[2016-02-25 13:49] #394 closed

[2016-02-25 13:58] alignedleft commented on #394
Your book has been added to: https://processing.org/books/

[2016-02-25 14:00] alignedleft commented on #154
Super, thanks. I pushed these to the live site. Thanks, Dan, for all your help.

https://processing.org/examples/

[2016-02-25 14:00] #154 closed

[2016-02-25 14:06] alignedleft commented on #395
Thanks! Please file this here: https://github.com/jdf/Processing.py-Bugs/issues

[2016-02-25 14:06] #395 closed

[2016-02-26 16:08] shiffman commented on #319
I've now updated and fixed all these links to learningprocessing.com.  The tutorials should probably still get updated language from the 2nd edition, but that can remain open with #162.

[2016-02-26 16:08] #319 closed

[2016-02-28 13:04] mloiz opened #398 "change add() example for IntDict Class"
there is an error inside the example of [add() method for IntDict](https://processing.org/reference/IntDict_add_.html)
Change `inventory.add("cds", 20);` to `inventory.add("cd", 20);`

[2016-02-28 20:23] FrankOcean11 opened #399 "issue with one of your examples"
im not sure if there is a bigger problem to what i can see or if this was a simple mistake by the one who made this available to anyone downloading the libraries from the install manager ?

both of this examples aren't working at all though i must say they do compile, they just dont do what it says it should plus one was missing a library.

would love to hear back from someone about this getting a

[2016-02-29 18:54] azizeh1356 commented on #319
hiii
i want to center of blob in processing2.1.1 and use opencv, which code can use for this work.
thanks a lot

[2016-03-02 01:29] martinsir opened #400 "Linear Image"
https://processing.org/examples/linearimage.html

This does not load on the webiste and I get a Arrayoutofbounce exception

PImage img;
int direction = 1;

float signal;

void setup() {
  size(640, 360);
  stroke(255);
  img = loadImage("sea.jpg");
  img.loadPixels();
  loadPixels();
}

void draw() {
  if (signal > img.height-1 || signal < 0) {
    direction = direction \* -1;
  }
  if (mousePress

[2016-03-02 13:44] alignedleft commented on #400
The web version is running OK for me. Are you seeing that error in a web browser, or when you copy and paste the code into the Processing IDE?

Remember, if you are trying to run this code in the IDE, you will also need to provide an image locally in the sketch data folder for loadImage() to load.

[2016-03-02 13:48] alignedleft commented on #399
@FrankOcean11 would you mind testing this in the current version of Processing (3.0.2)? Thanks.

[2016-03-02 13:58] #398 closed

[2016-03-02 14:01] alignedleft commented on #398
@mloiz Wow, thanks for catching that! That typo actually affected many of the other IntDict examples. I've fixed this on the site.

[2016-03-02 16:24] FrankOcean11 commented on #399
why would you ask me to test it in P3 ? have you tested it in P3 ? is not like this sketch is using some crazy libraries which are only accepted by some versions of Processing ide's .  and yes i did check and im still stand behind my initial post.....

[2016-03-02 17:44] martinsir commented on #400
Both actually. When i copy and paste the code and run it, an array out of bounce exception will appear.

Sendt fra min iPhone

[2016-03-02 21:01] alignedleft commented on #399
This is an all-volunteer project. Please don't expect the (volunteer) developers to do all the legwork for you. We often get bug reports for issues that existed only in older versions, so it is very common to ensure people have tested with the most recent version. (Many times, what seemed like an issue initially has already been fixed.)

[2016-03-02 21:31] alignedleft commented on #400
@martinsir When running this in the IDE, are you providing a local image file in the data folder? Please post a screenshot of what you see, if you can. Thanks.

[2016-03-02 22:34] JamesJDillon commented on #400
Confirming that the online demo is not working (Chrome Version 48.0.2564.116 m), and produces error: `Uncaught TypeError: Cannot set property length of [object Object] which has only a getter (p5.min.js:8)`

Ass for @martinsir's problem, you're most probably getting an arrayOutOfBounds exception because the size of your display window (specified in size(width, height)) is smaller than the image th

[2016-03-03 00:18] FrankOcean11 commented on #399
due seriously this aint my first rodeo reporting issues on here ok calm down with all the tud okay?! if you can't help then step out and let someone else take a look at it cuz i have no issues reposing this error till it gets the proper attention it should have had BEFORE it was posted on this site alright ? so chill out this is not my fault im merely letting YOU guys know where you guys fail cuz

[2016-03-03 00:21] FrankOcean11 commented on #399
on a different note thanks for the "volunteer work" and like i said already this sketch does not work on the new one either

[2016-03-03 20:33] bstajcar opened #401 "Processing can't connect to server"
I tried to import/add libraries for RTL-SDR but Processing can't connect to server.
NB Internet connection works for everything else.
Please help, thank you
![screenhunter_01 mar 04 07 32](https://cloud.githubusercontent.com/assets/17623823/13508484/4c93954a-e1db-11e5-84e1-ae3e5600205a.jpg)

[2016-03-07 03:30] alignedleft commented on #401
@bstajcar Have you tested again since then? And what version are you running? Thanks.

[2016-03-07 03:43] bstajcar commented on #401
Hi Scott,
Thank you for your reply.

Yes, I did and it seems that at home the problem was firewall... but
here at work (where I am trying to use the environment in my spare
time)  there is no chance I can bypass the comany security settings,
it looks like there is nothing in between but it simply doesn't work.

Now I have another issue...
I unzipped the 32 bit version at home (XP Pro) into a spara

[2016-03-07 03:54] REAS commented on #399
@FrankOcean11, I can see that you've reported the error so the code can be fixed if there's an issue and @alignedleft is trying to help. I've spent about fifteen minutes trying to figure out what's happening. I haven't tested the example since is was first written by Hernando, back around 2005. That example isn't distributed with Processing anymore and I'm not certain if it's an Arduino issue or s

[2016-03-07 03:57] FrankOcean11 commented on #399
Arduino is not the issue it is strictly with Processing, and as you say this sketch is old but the fact is that it is still being distributed by you guy since i recently downloaded,

[2016-03-07 03:59] FrankOcean11 commented on #399
as i have explain dozens of time the sketch does not do what the description says it does, im not sure how else i can make my point and every body saying that they dont have time to run the sketch really does not help at all, we are talking about going to your examples and just 3 clicks and your in there, once you setup up one servo with arduino upload its sketch your good to go, then you will not

[2016-03-07 04:05] REAS commented on #399
I'm trying to be polite and I'm trying to help. I don't have a servo motor and an Arduino board at home on Sunday night when I'm going through bug reports. I think the code is fine, but I will test it when I can.

[2016-03-07 04:12] FrankOcean11 commented on #399
well damm!, okay lol is ok please take a look at it because i agree with you the code looking at it looks fine but the issue is one of those where you stare at the algorithm for hours and your just about to rip your hair off! lol i even had one of my buddies look at it "fresh pair of eyes" yeah even he was like " i dont see nothing wrong nor know why is not working"
![10675672_1505144339725738_389

[2016-03-07 04:13] FrankOcean11 commented on #399
unfortunately not even the debugger can help me lol

[2016-03-07 04:52] alignedleft commented on #401
Thanks, @bstajcar! Sorry about the firewall issue, but of course we can't do anything to address that.

For your follow up question, have you tried asking this on the forum? I don't think that is a bug or software issue.

[2016-03-07 04:52] #401 closed

[2016-03-07 14:53] shiffman commented on #319
@azizeh1356 please post this question to forum.processing.org, this is for bug reports about documentation.

[2016-03-07 20:08] bstajcar commented on #401
I haven't asked yet.. I will have to do it shortly, after I exhaust my
ideas...
The puzzling thing is completely different path for libs in my anf
friend's case.. Why those libs are not stored in some more convenient
(for user) place, in the sam folder with  main executable or where
the source is?
How can I specify this path instead of Processing deciding that for
me?

Cheer,
Bojan

----- Original

[2016-03-07 21:12] alignedleft commented on #401
These are great questions for the forums; this area is for errors in the documentation.

[2016-03-13 19:06] jwoLondon opened #402 "Some useful Table methods not documented in reference"
There are some useful methods in the Table class that, looking at the source code, appear to be available, but are not mentioned in the [reference pages for Table](https://processing.org/reference/Table.html).

In particular `sort()` and `sortReverse()`, and associated with this for sorting rows by numeric value, `setColumnType()`.

Also useful is the ability to return entire columns as arrays, wh

[2016-03-15 14:25] alignedleft commented on #402
Yes, Processing has lots of methods that we deliberately do not document in the main reference. However, I don't remember the thinking behind these specific ones. @REAS or @shiffman do you recall the discussion on excluding these?

[2016-03-15 16:11] REAS commented on #402
I think a first step is to mention there are many more methods within the description and to link directly to the JavaDoc. This was an omission. A second step will be to evaluate if more methods should be added to the simple reference.

[2016-03-16 14:40] alignedleft commented on #402
Thanks, Casey. I added that text and link here: https://processing.org/reference/Table.html

I'll close this for now; we can have a separate issue/thread for evaluating whether or not to add methods to the simple reference, if there is demand.

[2016-03-16 15:37] REAS commented on #402
Great! Thank you.

[2016-03-16 17:46] jwoLondon commented on #402
Thanks for responding so quickly - I think a link to the API from the reference pages helps.

I hope it's not bad form to comment after an issue has been closed, but some thoughts should they be helpful:

- A link directly to http://processing.github.io/processing-javadocs/core/processing/data/Table.html rather than the frames-based API might be easier for people who don't know that Table exists i

[2016-03-17 17:21] REAS commented on #402
@benfry What do you think about adding `sort()` to the `Table` class documentation on the site?

[2016-03-17 21:03] dwansmith opened #403 "background() and draw() documentation suggestion"
I have been teaching an 'Intro to Programming' course for 7 years now using processing.  One of my students just got seriously confused about using background() inside draw().  He missed my slides (from Shiffman text) that discuss the display buffer and how it is moved to the screen at the end of draw().  The 'Description' text is not clear that background erases everything in the display buffer,

[2016-03-17 23:27] REAS commented on #403
I'm very open to discussing language in the Reference. To this point, I'm worried about the term "display buffer." I think that's confusing to a beginner. In the documentation we talk extensively about the display window, but we don't discuss the buffer as an invisible block of pixels that is blitted to the screen at the end of the draw(). Do you think there's a way to make adjustments without add

[2016-03-18 01:27] dwansmith commented on #403
Casey    Thanks for the quick response!I agree that 'display buffer' is probably not the best term to use for beginning programmers.  I'm not sure of the best term for it, so I looked for a few examples.   I'm thinking that 'new frame' which you used in your original processing text might work.  
Daniel Shiffman presents the concept in his text without naming the 'display buffer'. He discusses the

[2016-03-18 14:13] alignedleft commented on #403
This is a great point, and also a point of tension — as Casey mentioned, we want the reference to be accessible for beginners first and foremost!  For what it's worth, when teaching, I usually use the metaphor of "pixel paint." With functions executed in sequence, top to bottom (typically), later shapes/forms are "painted" "on top of" earlier ones. With this metaphor, it makes sense for `backgroun

[2016-03-18 19:02] dwansmith commented on #403
As I teach introductory courses, I have to balance technical accuracy while prioritizing which key concepts to introduce (most students can only grasp a few per hour, and we have to use them wisely!).  I totally agree that the Description text should be relatively easy to grasp, but it must also not lead users astray.

The following modifies my previous suggestions using the term 'next frame' (as

[2016-03-20 12:17] sebastiz opened #404 "two circles on canvas, four on the sketch"
This animation has two circles on it whereas the sketch shows four
https://processing.org/examples/sinecosine.html

[2016-03-20 18:38] #404 closed

[2016-03-20 18:40] alignedleft commented on #404
Great catch, thank you!  This has been fixed:

https://processing.org/examples/sinecosine.html

cc @shiffman FYI. A minor adjustment was needed to the p5 version of this example.

[2016-03-22 15:25] #197 closed

[2016-03-22 20:43] #212 closed

[2016-03-22 21:51] #196 closed

[2016-03-22 21:52] #157 closed

[2016-03-23 19:16] jessescales opened #405 "please help -"
I would like to add a audio file to my visual in processing, but whenever i try to add more than one code to a sketch errors turn up. in other words i can only seem to have a visual but am unable to add sound to that visual. ie. just one code, how do you add more than one code to one sketch and have no errors?

thank you very much for your time.

Jesse Scales

[2016-03-23 20:27] alignedleft commented on #405
Jesse, this is a great question for the forums: forum.processing.org

[2016-03-23 20:27] #405 closed

[2016-03-23 22:33] q2dg opened #406 "Add Documentation for "SVG Export" library"
I mean...as it is https://www.processing.org/reference/libraries/pdf/index.html or https://www.processing.org/reference/libraries/dxf/index.html .

In fact, in https://www.processing.org/reference/libraries isn't even mentioned.

Thanks

[2016-03-28 00:36] almoce opened #407 "Java Runtime erro?"
try run this exemple
https://processing.org/reference/libraries/sound/FFT.html

A fatal error has been detected by the Java Runtime Environment:

 SIGSEGV (0xb) at pc=0x000000013063004e, pid=600, tid=76291

 JRE version: Java(TM) SE Runtime Environment (8.0_74-b02) (build 1.8.0_74-b02)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (25.74-b02 mixed mode bsd-amd64 compressed oops)
 Problematic frame:

[2016-03-28 19:23] alignedleft commented on #407
@almoce Do you feel this is an error in the documentation, or a bug in the code? If the latter, please report to: https://github.com/processing/processing-sound/issues/

[2016-03-30 17:20] hkmoca commented on #222
hello! the problem of the duplicated statements still on, i've tried to fix it to, but i can't found the issue on the Docs. also, i've been looking for another duplicated but, can't find another one( wish it's good)

[2016-03-31 11:30] HartzaQ opened #408 "stroke() and other color setting methods don't mention color-datatype in reference at all"
Hi,

Stroke() and other color setting methods don't mention at all that you can use color-datatype to set the color, not just numbers. It's missing from syntax and examples. It was indicated in reference of color-datatype https://processing.org/reference/color_datatype.html

[2016-03-31 14:52] HeinPauwelyn opened #409 "IllegalStateException when run PApplet as Java application"
I'll try to use Eclipse IDE for Java Developers (version Mars.2) to make processing (version 3.0.1) applications. But when I run my application I've got this error:

If I place `size(200, 200);` in comment, my window is to title but it works.

I've follow the steps on this article [Processing in Eclipse](https://processing.org/tutorials/eclipse/). Here is the code I've made:

[code]

I've also add

[2016-03-31 17:53] alignedleft commented on #409
This isn't a documentation issue. I think you'd be better off posting this question in the forum: forum.processing.org

If you're certain this is a bug with the software, please post it here: https://github.com/processing/processing/issues/

[2016-03-31 17:53] #409 closed

[2016-04-01 01:20] theshanewhite commented on #213
Hi! So, I wrote a tutorial for Eclipse with Processing 3 in a GitHub wiki. It's here:
https://github.com/DigitalMediaAcademy/Programming-with-Java-2016/wiki/Using-Processing-in-Eclipse

This will be used in conjunction with a Programming with Java course that I am developing at my [company](http://www.digitalmediaacademy.org), but I wanted to be able to share it here and potentially you can use it

[2016-04-06 21:05] ins opened #410 "per-vertex stroke color in PGraphics not working. Bug or not?"
The reference at https://processing.org/reference/beginShape_.html says
"The P2D and P3D renderers allow stroke() and fill() to be altered on a per-vertex basis, but the default renderer does not."
But it doesn't mention if it should work in PGraphics or not. It's not working for me.
Is it a bug, or is this intended?

![23437_0000](https://cloud.githubusercontent.com/assets/140040/14332880/ff17443

[2016-04-07 20:46] colinmorris opened #411 ""Find in reference" on size() function brings up docs for StringList method"
I right-clicked and selected "Find in reference" for a standard call to `size()` in `setup()`. I expected to be taken [here](https://processing.org/reference/size_.html), but I was actually taken to [StringList::size()](https://processing.org/reference/StringList_size_.html).

`loadPixels` has the same problem.

[2016-04-08 05:13] REAS commented on #411
Yes, this happened to me yesterday as well. I'll look into it.

[2016-04-08 05:15] REAS commented on #410
@codeanticode What do you think about this?

[2016-04-08 12:00] codeanticode commented on #410
What's happening here is that the PGraphics surface is being created with the default renderer, not P2D.

[2016-04-08 13:38] HartzaQ opened #412 "PShape reference page has broken link"
Hi,

On reference page of PShape link to javadoc is broken.

Excerpt from the page:
The PShape object contains a group of methods that can operate on the shape data. Some of the methods are listed below, but the full list used for creating and modifying shapes is available here in the Processing Javadoc.

And the link: http://www.processing.org/reference/javadoc/core/processing/core/PShape.html

[2016-04-08 13:46] HartzaQ commented on #412
And the source page was entered by PShape->Find in reference

Address was file:///F:/Ohjelmat/processing-3.0.2/modes/java/reference/PShape.html

[2016-04-10 12:41] jwoLondon opened #413 "Repeated paragraph in Sound tutorial excerpt"
The [sound tutorial](http://processing.org/tutorials/sound) taken from the _Programming Handbook for Visual Designers and Artists _has a duplicated paragraph:

[2016-04-10 20:06] colinmorris opened #415 "Function names should be linkified in the Description section"
E.g. [here](https://processing.org/reference/background_.html) it would be great if `draw()`, `setup()`, `tint()` etc. were all clickable links that went to the corresponding reference page for that function.

[2016-04-11 05:54] ins commented on #410
Thanks, indeed that was my mistake.
With P2D, It works as intended.
pg = createGraphics(width, height, P2D);

[2016-04-11 05:54] #410 closed

[2016-04-14 13:46] gohai opened #416 "Find in reference doesn't work for "delay""
(There is a reference entry for it, though.)

[2016-04-18 21:49] benfry commented on #213
We're getting bug reports b/c of it being out of date: https://github.com/processing/processing/issues/4380

[2016-04-20 17:00] theshanewhite commented on #213
Hey @benfry , please see my comment above yours, let me know if it's helpful!

[2016-04-20 17:09] REAS commented on #213
The original (not up to date) Eclipse tutorial was removed from the Tutorials index page, people are still finding it through searches. I'll remove the page entirely, I thought that I had. So, that wraps up the older tutorial for now, but how to point people to the new tutorial?

[2016-04-20 23:51] sayregreene opened #417 "createFont - cannot be resolved to a variable"
When I am trying to use create font no matter what variable name I try to use I get the error "myFont cannot be resolved to a variable".

void setup() {

  size(400,400);
  myFont = createFont("Arial Bold", 32);
}

void draw() {

  textFont(myFont);
  text("test", 20,20);
}

[2016-04-21 03:13] alignedleft commented on #417
You never declared `myFont`. Try at the top:

[code]

[2016-04-21 03:13] #417 closed

[2016-04-25 17:02] jarkman opened #418 "createReader() page has some confusing omissions"
The createReader page:
https://processing.org/reference/createReader_.html
has some confusing omissions (which have just cost us a day of poking about, getting to the bottom of the resulting problems).

1 - It should link to a page which lists the methods of BufferedReader (otherwise, how are we meant to know what we can do?)

2 - The example on this page should include a call of reader.close() wh

[2016-04-25 18:34] GABBAR1947 commented on #385
@REAS Can you close this issue. This was rectified previously.

[2016-04-25 22:25] #385 closed

[2016-04-26 21:08] john13mcdonald opened #419 "Incorrect List documentation"
The example contains this code:
for (int i = particles.size - 1; i >= 0; i--) {

_size_ should have parenthesis: size()

found here:
https://processing.org/reference/ArrayList.html

[2016-04-30 20:26] gohai commented on #361
GitHub seemed unblocked in China when I visited in March

[2016-04-30 20:26] #361 closed

[2016-05-04 04:09] psoulos opened #420 "The Sound tutorial has a duplicate paragraph"
[The Sound tutorial](https://processing.org/tutorials/sound/) contains a paragraph starting with "This representation of sound" that is repeated.

[2016-05-04 15:18] shiffman commented on #213
I thought perhaps we had a wiki page somewhere pointing to additional tutorials, but I can't seem to locate it now.

Since using Eclipse is something to learn about for Processing  contributors / developers, maybe this could be linked somewhere on Github.  @theshanewhite do you want to look through and suggest a spot?

https://github.com/processing/processing/wiki

[2016-05-04 16:10] REAS commented on #213
@shiffman We used to have an entire Wiki of links and information, but nobody was updating it so we removed it a few years ago. I moved most of the content into the GitHub Wiki, but that page wasn't moved over. Would you like to bring it back? We could link to it within the main site.

[2016-05-04 16:15] shiffman commented on #213
Sure, let's give it a try, perhaps if it's an open github wiki it can be more easily maintained?  I'm happy to take a pass over it if you want to paste in the old content.

[2016-05-04 16:16] REAS commented on #213
I think we should start it fresh. Much of that content was old, old.

[2016-05-05 00:40] theshanewhite commented on #213
A wiki of links sounds good, otherwise it might make sense to have a link to the eclipse tutorial somewhere in the documentation outlining the differences between Processing 2 and 3. Those are the pages I had to scour in order to figure out how to get it working.

In Particular, I ended up figuring it out by starting on [this page](https://github.com/processing/processing/wiki/Changes-in-3.0) (Cha

[2016-05-05 02:59] shiffman commented on #213
One of the reasons I let the eclipse tutorial slide was that I thought no one really was doing this anymore.  I don't have students so much these days moving from Processing to Eclipse for creative art projects.  But maybe there is a larger education / Java audience that would benefit from seeing how this works still.  And so now I wonder if it might be nice to just add it back on processing.org

[2016-05-05 03:48] fernandoaestrella opened #421 "processing Sound library reference for AudioIn start() lacks definition of add, amp, pos"
In

https://processing.org/reference/libraries/sound/AudioIn_start_.html

Please add:

Parameters
amp float: Amplitude value from 0.0 to 1.0
add float: Offset value for modulating other audio signals
pos float: Pan value from -1.0 to 1.0

if they mean the same.

Those were taken from https://processing.org/reference/libraries/sound/AudioIn_set_.html

[2016-05-05 05:24] REAS commented on #420
Thanks! It's fixed for the next update.

[2016-05-05 05:24] #420 closed

[2016-05-05 05:26] REAS commented on #419
Thanks! It's fixed for the next update.

[2016-05-05 05:26] #419 closed

[2016-05-05 05:32] REAS commented on #408
I don't think we can correct this without a major intervention for the documentation build system. Technically, under the hood, the color datatype is an "int" and the Parameters in the documentation are automatically generated from the source code. I am leaving this open, but it's a ton of work to fix. Thanks for reporting.

[2016-05-05 06:17] REAS commented on #393
This is added for the next update. Thanks for calling attention to it.

[2016-05-05 06:17] #393 closed

[2016-05-05 06:19] REAS commented on #331
As an update, hint() isn't appearing in the Index as well.

[2016-05-05 06:46] REAS commented on #413
Thanks! This is fixed for the next update.

[2016-05-05 06:46] #413 closed

[2016-05-05 15:30] akinhwan opened #422 "Wraparound Borders acting funny for Flocking Example"
As noticed by Dan Shiffman during a youtube livestream...
Flcoking triangles sometimes disappear off the screen. see in code, section commented "//Wraparound"
file path below....

processing-docs/content/examples/Topics/Simulate/Flocking/Boid.pde

[2016-05-05 15:31] robbykraft opened #423 "flocking example"
@shiffman watching the coding rainbow live stream. reminder to look into the issue about screen wrapping you discovered on the flocking example.

okay. thanks for all the great work!

[2016-05-05 15:32] robbykraft commented on #423
ahh @akinhwan beat me

[2016-05-05 15:32] #423 closed

[2016-05-05 21:03] theshanewhite commented on #213
I would be 100% ok with that, happy to be of help!

[2016-05-06 16:17] shiffman commented on #423
Thanks for reporting!

[2016-05-06 16:25] shiffman commented on #422
This is now resolved, thanks for reporting!  It'll be fixed on the site itself during the next update.  @alignedleft is it ok for me to run "generate" for examples?

[2016-05-06 16:25] #422 closed

[2016-05-06 17:22] alignedleft commented on #422
@shiffman Yes, no problem to run that!  I always test on beta first, to be safe.

[2016-05-06 21:15] clankill3r opened #424 "nfc says it opperates on arrays"
Correct me if i'm wrong, but I can't pass an array or get an array back.
As far as I know it operates on a float for example and returns a String.

https://processing.org/reference/nfc_.html

[2016-05-06 23:17] shiffman commented on #422
ok it's fixed now and live on the site, thanks all!

[2016-05-08 08:09] rmrenner opened #425 "Bug in PShader tutorial code listing 1.1"
The example program in code listing 1.1 on the [PShader tutorial page](https://processing.org/tutorials/pshader/) displays nothing as written, at least when I run it on Processing 3.0.2.
I don't really understand the behavior of the pointlight the tutorial uses, but setting the point light's position to (0,0,0) lights up the rotating square.

[2016-05-08 17:01] benfry opened #426 "Handbook_Examples_20150105.zip contains wrong code for sketch 28-17"
Moved from https://github.com/processing/processing/issues/4435

[2016-05-08 17:16] benfry opened #427 "Wiki Troubleshooting Video Issues - page doesn't exist"
https://github.com/processing/processing/issues/4423

[2016-05-10 03:43] shiffman opened #429 "Yahoo weather XML example no longer works"
See: https://github.com/processing/processing/issues/4422

[2016-05-10 03:59] shiffman commented on #429
This should be all set now.

[2016-05-10 03:59] #429 closed

[2016-05-11 20:56] nsgonultas opened #430 "Turkish translation of docs"
We (@nsgonultas & @mirzakarlidag) want to translate some pages on procesing.org to Turkish. But I couldn't find any license information. Will it be a problem if we translate pages below and publish them for free?

- Environment
- Reference
- Tutorials
- Examples

[2016-05-11 21:28] REAS commented on #430
Feel free to translate the Environment page. The reference has a CC license: http://creativecommons.org/licenses/by-nc-sa/4.0/ so it can be translated, but should keep the license. The examples, yet, totally fine for non-commercial use. The tutorials are more complicated because most of of the copyrights are held with the original publishers. You can see the copyright at the top of each tutorial.

[2016-05-11 21:28] #430 closed

[2016-05-13 20:26] almoce opened #431 "ClassCastException erro while using processing.pdf with PGraphics"
[code]

**# ClassCastException sun.java2d.SunGraphics2D cannot be cast to java.awt.Image**

[2016-05-13 22:40] alignedleft commented on #431
Interesting. But there is a lot of unnecessary code in here. I cut this example down to what's needed to trigger the error:

[code]

This isn't a docs issue. I'm moving this to processing/processing/issues

[2016-05-13 22:40] #431 closed

[2016-05-15 08:28] huiyadanli opened #432 "Why there is no <syntax>,<parameters>,<returns>,<related> tags in the XML file?"
In the web page https://processing.org/reference/abs_.html,
it contains the Syntax, Parameters and Returns content,
but in [\content\api_en\abs.xml](https://github.com/processing/processing-docs/blob/master/content/api_en/abs.xml),
it doesn't have `<syntax>`,`<parameters>`,`<returns>`.

Where can I find them, I want to translate the reference into Chinese.
Thanks.

[2016-05-16 05:12] REAS commented on #432
It pulls all of that directly from the source code in the processing/processing repo.

[2016-05-16 05:12] #432 closed

[2016-05-16 17:38] MoBa90 opened #433 "Error when using P3D Processing 3"
Could you please help me I am trying to start drawing 3D shapes using Processing 3 Whenever the renderer P3D is used, I get the following Error

ERROR: 0:2: '' : Declaration must include a precision qualifier or the default precision must have been previously declared. ERROR: 0:30: '' : Declaration must include a precision qualifier or the default precision must have been previously declared.

The

[2016-05-16 18:46] LATAEVIA opened #434 "Just a paragraph issue"
This paragraph:

 ...is repeated here : https://processing.org/tutorials/sound/

[2016-05-16 22:55] thejoelpatrol opened #435 "clarify updatePixels and window updating"
Currently the updatePixels() documentation says "Updates the display window with the data in the pixels[] array". I don't think that's exactly accurate. The window does not update immediately after that call. It looks to me like the update really occurs somewhere around PSurfaceAWT.render(), which is called once per draw() invocation.

I interpreted the current wording to mean that calling updateP

[2016-05-16 23:47] benfry commented on #435
All Processing programs update the screen at the end of `draw()`, never earlier. It has nothing to do with `loadPixels()`, and the suggested changes would make the documentation less accurate.

[2016-05-16 23:47] #435 closed

[2016-05-17 19:57] thejoelpatrol commented on #435
Yes, you're right, maybe one sentence to that effect would help the draw() documentation?

[2016-05-18 16:13] x13420x opened #436 "null pointer exception when loading image in settings"
loads image but is giving a null pointer exception (P3.1.1)
[code]

[2016-05-18 16:16] x13420x opened #437 "Throws error when converting bytes"
works but throws error.  I didnt bother submitting this earlier because I thought it would be fixed with P3.1 throwing errors on hex values.
`println(int(byte(245)));`

[2016-05-18 20:20] benfry commented on #436
From https://processing.org/reference/settings_.html

[2016-05-18 20:20] #436 closed

[2016-05-19 17:12] x13420x commented on #436
but it works with 3.1........so how would I do this otherwise?  Of course I read this but I think the docs are out of date

[2016-05-19 22:02] GoToLoop commented on #436
This is a grave regression. I don't have P3.1, but I can confirm the code below works for P3.0.2 and fails for latest P3.1.1:  :disappointed:

https://forum.Processing.org/two/discussion/16705/null-pointer-exception-when-loading-image-in-settings-p3-1-1#Item_1

[code]

[2016-05-23 20:12] REAS opened #438 "Update draw() to clarify the pixels are updated at the end"

[2016-05-23 20:13] REAS commented on #435
https://github.com/processing/processing-docs/issues/438

[2016-06-01 07:37] technosalon opened #439 "Code Listing 1.1 cannot work in Shader Tutorial"
Hello,
The code listing 1.1 cannot be rendered due to the normal vector which should be (0,0,-1) instead of (0,0,1). Or, as another solution, I think the order of vertices of the PShape should be reversed, clockwise instead of counter-clockwise, in that case, the normal vector could be (0,0,1). Am I wrong ? Thank you.

[2016-06-01 18:09] REAS commented on #439
I will look into it.

[2016-06-02 17:17] shiffman commented on #213
Apologies for the very long delay in replying to this!  Here is what I think would work best.

You can edit this file directly in the repo and submit your changes as a pull request:

https://github.com/processing/processing-docs/blob/master/content/static/tutorials/eclipse/index.html

You are welcome to completely wipe out my old content and replace with yours or adapt
and include anything from th

[2016-06-02 21:18] exprexxo opened #440 "XML .getChild() my index does not seem to work in 3.1.1"
passing a namepath did work passing in int in got null.   The documentation also needs a line added to clarify how the call with int works :
Syntax
.getChild(index)
.getChild(name)
Parameters
name    String: element name or path/to/element

The parameters doe not call out index

[2016-06-02 21:21] exprexxo opened #441 "xml .getstring does not seem to work with a member of an XML array"
xml kids[];
xml kid;

....  kids[1].getString("starttime") ;
 returns null, but
kid = kid[1]
...  kid.getString("starttime") ;

returns the value

[2016-06-06 23:01] featherfeet opened #442 "Typo"
In the P3D documentation page, this quote:

...has a typo. "Effecient" should be "efficient."

[2016-06-07 16:04] alignedleft commented on #442
Thanks, @featherfeet! That's fixed here:

https://processing.org/tutorials/p3d/

cc @shiffman FYI

[2016-06-07 16:04] #442 closed

[2016-06-09 13:36] BS-007 commented on #433
Your code works correctly, without error, on Windows 7 and Processing 3.1.1.

[2016-06-09 23:40] featherfeet commented on #442
Ok! Love the OpenGL support!

On Tue, Jun 7, 2016 at 9:04 AM, Scott Murray <notifications@github.com>
wrote:

[2016-06-12 17:06] JohnMcC1 opened #443 "4.11 isssue with server"
This is the standard sample from the Ptocessing site.  What am I missing?

import processing.net.*;

Server myServer;
int val = 0;

void setup() {
  size(200, 200);
  // Starts a myServer on port 5204
  myServer = new Server(this, 5204);
}

void draw() {
  val = (val + 1) % 255;
  background(val);
  myServer.write(val);
}

It complains the constructor for Server does mot exist.

![server](https://

[2016-06-12 17:41] JohnMcC1 commented on #443
OK, I found where I could add additional libraries and now it works.  Sorry, great application.

[2016-06-12 17:41] #443 closed

[2016-06-15 02:05] JamesWClark opened #444 "processing.org reference link is pointing to an apache directory"
The link to Reference gives an Apache directory

https://processing.org/reference/

[2016-06-15 03:20] alignedleft commented on #444
Yes, the site was down for a few minutes. This has been fixed.

[2016-06-15 03:20] #444 closed

[2016-06-15 13:56] sl1pkn07 commented on #265
processing 3.1.1 have the old documentation (described on https://github.com/processing/processing/issues/3436)

![](http://wstaw.org/m/2016/06/15/Screenshot_20160615_155156.png)

the example fail as-is

[2016-06-15 16:51] REAS commented on #265
I'm opening a new Issue to look into this.

[2016-06-15 16:51] REAS opened #445 "Is offline reference updating as it should?"

[2016-06-15 16:53] REAS commented on #434
Thank you. This is fixed now.

[2016-06-15 16:53] #434 closed

[2016-06-15 16:59] REAS commented on #444
Thank you for reporting it here. There was an unexpected glitch that night that took awhile to fix.

[2016-06-15 17:02] REAS commented on #433
Yes, the code looks fine. If you think it's incompatible with your hardware/software setup, please post to the processing/processing GitHub with those details.

[2016-06-15 17:02] #433 closed

[2016-06-15 17:03] REAS commented on #440
Did it work in a previous version of Processing? Can you include a short piece of code to test?

[2016-06-15 17:06] sl1pkn07 commented on #445
the online documentation (of displayDensity()) is the same as offline

https://processing.org/reference/displayDensity_.html

ref: https://github.com/processing/processing-docs/issues/265

[2016-06-15 17:09] REAS commented on #441
@benfry How should this behave?

[2016-06-21 05:42] ynaoto opened #446 "Description of arg 'str' is missing in text() func"
Description of arg 'str' is missing in text() function.
https://processing.org/reference/text_.html

[2016-06-21 19:24] Eno12345 opened #447 "Processing: Incorrect Reference"
The Reference for play() contains an import:
import processing.video.*;
However, this import along with a lot of others doesn't work.

[2016-06-21 19:27] alignedleft commented on #447
What do you mean by it "doesn't work"?

Do you get an error message? Have you installed the latest version of the video library? What version of the lib and of Processing?  What OS?  Can you post a screenshot?

Please help us troubleshoot this.

[2016-07-01 22:10] shiffman opened #448 "review simulation and particle examples"
* change `location` to `position`
* double-check `get()`vs. `copy()`

[2016-07-07 16:10] theshanewhite commented on #213
Wow, I was even worse in the delay. Like I said, we run a summer and of course getting that going got in the way.

I have submitted the pull request. Includes updated HTML and the new additional images.

I also left and modified the section about external classes. I updated the Stripe example used in that section. [Here is a link](https://drive.google.com/file/d/0Bxz9XlubURkVZXRhN0l5QUFWeGM/view?u

[2016-07-07 17:28] mkmori opened #450 "Suggest "Related" links for size() entry"
Currently, there are just a couple "Related" links ("width" and "height"), despite size()'s rather complicated relationship with other methods as discussed in the Description area:

https://processing.org/reference/size_.html

I think the following links would also be helpful, esp. for newbies...and "recidivist newbies" like myself :P

setup()
settings()
fullScreen()

Thanks for your consideration

[2016-07-08 11:45] nok opened #451 "'Leap Motion for Processing' compatibility"
Hello,

I guess that there is an issue with the update process of contributed libraries. Several people contacted me because of my personal contributed libraries. The problem is, that the contributed manager show the message that the selected library isn't compatible although it should be compatible.

A snapshot of the library manager with the selected library [Leap Motion for Processing](https://

[2016-07-08 12:04] prisonerjohn commented on #451
Hi Darius,
It's done, the library should be available again in the PDE.
Cheers,
Elie

[2016-07-08 12:04] #451 closed

[2016-07-09 14:07] shiffman commented on #213
Wonderful, I will review early next week and merge in!

[2016-07-10 08:54] hmeine opened #453 ""Eighth grade" coordinate system illustration wrong"
I find two things strange about this illustration:
https://processing.org/tutorials/drawing/imgs/drawing-03.svg
1. Obviously, the x and y labels on the left graph are swapped.
2. IMO, the yellow shading should be the upper right quadrant, not the lower one. (This one's debatable, but I think that would illustrate the fact that y goes upwards better.)

[2016-07-10 20:35] shiffman commented on #213
The tutorial is now visible at beta: http://beta.processing.org/tutorials/eclipse/

@theshanewhite take a glance over and let me know if see anything that doesn't look right.  This is the image we had for the tutorial homepage before, I think I will just use it again, but if anyone has a better idea please let me know!

![eclipse](https://processing.org/tutorials/imgs/eclipse.jpg)

[2016-07-11 00:42] theshanewhite commented on #213
Hey, looks awesome. The only issue I see right off is the Stripe project download goes to a 404 on the learningprocessing site. It should probably either be uploaded there, the link updated, or that line removed. (It's near the bottom of the tutorial, for easy reference).

That image looks great to me. Thanks!

[2016-07-11 22:49] REAS commented on #453
@shiffman I think Philip or I goofed with with swapped XY. What do you think about the highlighting?

[2016-07-12 02:47] shiffman commented on #453
Thought I do see arguments for both ways, after staring at it for a few minutes I think I now agree that changing the highlighting is a good idea.

[2016-07-12 03:21] REAS commented on #453
Cool. I'll make both changes when I can.

[2016-07-13 21:29] laskarGitHub opened #454 "How to draw a cylinder?"
Hi,
Is there a way to draw solid or hollow cylinders using Processing? - just like shapes - Box and Sphere?

thanks!

[2016-07-14 09:42] cegandodge opened #455 "Modulo operator mislabeled, should be remainder, no explanation in web reference"
[http://stackoverflow.com/questions/5385024/mod-in-java-produces-negative-numbers](http://stackoverflow.com/questions/5385024/mod-in-java-produces-negative-numbers)

[2016-07-14 22:51] REAS commented on #454
This is a question for the forums: https://forum.processing.org/ Here on Github, we're logging and fixing bugs.

[2016-07-14 22:51] #454 closed

[2016-07-14 22:54] REAS commented on #455
What is the mistake, do you mean on this page? https://processing.org/reference/modulo.html

[2016-07-26 00:25] MyCodeSnips commented on #190
Is this tool obsolete in version 3? When I try manually installing the (apparently) latest version 'ColorSelectorPlusTool-7.zip', I get:

at java.awt.EventDispatchThread.pumpEvents(EventDispatchThread.java:93)
at java.awt.EventDispatchThread.run(EventDispatchThread.java:82)

in the processing console.

[2016-07-28 23:16] benfry opened #456 "Extend the 'Repositories' article to cover p5js.org and py.processing.org?"
https://github.com/processing/processing/issues/4569

[2016-07-28 23:40] benfry opened #457 "Issue regarding the 'interactivity' tutorial"
https://github.com/processing/processing/issues/4574

[2016-08-01 15:29] shiffman commented on #213
Ok, I've moved the sample project to GitHub, fixed the link in the tutorial and added eclipse back to the tutorial index page.  @theshanewhite how would you like to be credited?

?

Here are the relevant preview links:

http://beta.processing.org/tutorials/
http://beta.processing.org/tutorials/eclipse/
https://github.com/shiffman/Processing-Eclipse-Example

Any last comments before I post live to

[2016-08-01 15:58] shiffman commented on #448
I've gone through and updated everything in Topics/Simulate/

[2016-08-01 15:58] #448 closed

[2016-08-01 15:59] shiffman commented on #369
I am going to close this issue and open a new one to track 3D versions of the examples using p5.js `WEBGL`.

[2016-08-01 15:59] #369 closed

[2016-08-01 16:01] shiffman opened #459 "WEBGL versions of P3D examples"
I'm opening an issue to track porting WEBGL versions of Processing P3D examples for processing.org.  I am happy to take this on, I would hope to get to it this fall.  @indefinit let me know timing wise when this might be good to think about doing. @alignedleft, we'll want to make sure we're staying up-to-date with latest p5.js.

Example: https://processing.org/examples/explode.html

[2016-08-01 16:02] shiffman commented on #184
These are all set now!

[2016-08-01 16:02] #184 closed

[2016-08-02 17:27] indefinit commented on #459
This sounds like a great idea.  I'll add the webgl label as well, but otherwise sounds good!

[2016-08-02 17:30] indefinit commented on #459
Spoke too soon.  Looks like I'm unable to add a new label... Can you add it on your end?

[2016-08-08 15:36] theshanewhite commented on #213
Hey, sorry for the delay again.

That form of credit sounds great!

It all looks good, feel free to post! Thanks so much!

[2016-08-08 18:40] shiffman commented on #213
It's live!  It's back!

https://processing.org/tutorials/eclipse/

[2016-08-08 18:40] #213 closed

[2016-08-14 09:05] nebucaz opened #460 "Example not working: Listing files in directories and subdirectories"
-Processing 3.1.2 (MacOS)
- Listing files in directories and subdirectories: https://processing.org/examples/directorylist.html

Yields following errors:
- The Field PApplet.sketchPath ist not visible (Solution: use `String path = sketchPath()`;
- The function listFilenames(String) does not exist (no solution found yet)

[2016-08-16 13:51] NicolasFernandez2001 opened #461 "How can I set the colour of a point?"
Just that, thanks.

[2016-08-16 20:37] alignedleft commented on #461
Use `stroke()` to set a stroke color.

Thanks for asking, however, as you've pointed out that this is not clear from the reference page:

https://processing.org/reference/point_.html

I'll add a note to that effect to the reference, and add `stroke()` as "related".

[2016-08-16 20:41] alignedleft commented on #460
Could you clarify what code you're using that's triggering an error? Are you using the example code (at the link above) in its entirety? If not, please post what you're using here so we can test it.

[2016-08-17 01:47] shiffman commented on #460
I can confirm the error (it was using an old publicly accessible variable).  I have corrected it and made some other minor adjustments with https://github.com/processing/processing-docs/commit/15945732cca892f556cfbc37bb921585f42002bb.

[2016-08-17 01:47] #460 closed

[2016-08-17 05:06] nebucaz commented on #460
The example on https://processing.org/examples/directorylist.html still shows the old version of the code. Attached screenshots of error messages
<img width="1083" alt="bildschirmfoto 2016-08-17 um 07 06 02" src="https://cloud.githubusercontent.com/assets/961682/17725172/241eed94-6449-11e6-8087-f00b76b625a4.png">
<img width="1061" alt="bildschirmfoto 2016-08-17 um 07 06 10" src="https://cloud.gith

[2016-08-17 08:32] benfry commented on #460
@shiffman @REAS is listing files something we should build into the API?

[2016-08-17 15:25] shiffman commented on #460
@benfry I think some "file management" features could be useful especially as we think of Processing as a desktop application environment.  I have used this example with students who want to bulk load a directory of images or data files.  Some possibilities:

* `listFiles(String dir)`
* `directoryList(String dir)`

It should probably by default use the "sketchPath" (or "dataPath"?) but also allow

[2016-08-17 16:32] benfry commented on #460
Ok, opened an issue here: https://github.com/processing/processing/issues/4622

[2016-08-18 18:33] jeffThompson opened #462 "Javadoc URL broken on website"
The link for the javadoc listed in the Reference section, and in many places on the forum is:
[http://processing.org/reference/javadoc/core/](http://processing.org/reference/javadoc/core/)

But it's broken!

[2016-08-19 14:53] shiffman commented on #462
We've fixed it in a bunch of places (see #350) but perhaps there are some remaining.  Can you provide links to where it's broken? This is the new link:

http://processing.github.io/processing-javadocs/core/

I've also noticed I haven't been keeping the javadocs up-to-date.  Will update now.

[2016-08-19 16:27] jeffThompson commented on #462
Aha, it was via the offline reference at the top, but I needed to update to 3.2. Confirmed that it works in the newest version. Sorry for the noise.

[2016-08-19 16:27] #462 closed

[2016-08-19 20:26] shiffman commented on #462
Not to worry it was a good reminder to update the javadocs which I just did!

[2016-08-20 14:38] drguildo opened #463 "P3D Coordinate System Tutorial is Confusing"
The P3D tutorial description of left-handed and right-handed 3D Cartesian systems states:

but the diagram beneath shows the positive y direction pointing down.

It also states:

but every other tutorial I've looked at shows z coming towards you in the right-handed coordinate system.

[2016-08-21 05:26] REAS commented on #463
The diagram is correct, let's ask @shiffman about the text. This is the page in question: https://processing.org/tutorials/p3d/

[2016-08-24 15:09] jzarazaga opened #466 "change to developing environment doesnt match Python tutorial image"
http://py.processing.org/tutorials/gettingstarted/imgs/Fig_02_01.gif

the developing environments seems to have changed- it no longer has the 'save' button arrows, etc, only run and stop.  Unless I am mistaken?

[2016-08-24 17:58] REAS commented on #466
Yes, you're correct. The Python documentation has a separate list for bugs. Can you report there? https://github.com/jdf/processing.py/issues

[2016-08-24 17:58] #466 closed

[2016-08-29 17:07] lewisallen opened #468 "Reflection2 example freezes when ball hits left wall"
I noticed in the Reflection2 example that the orb freezes when it hits the left wall.

[2016-08-30 20:53] shiffman commented on #463
Looking this over, I think the use of "up" is a mistake.  The description should match the diagram.

The system would be right-handed if y points up and z points towards you.  But it's left-handed because y points down.

Is this correct?  I'll make that one change if so.

[2016-08-31 02:58] codeanticode opened #469 "Link to Processing for Android in top bar missing in download page"
All other pages seem fine.

[2016-08-31 04:10] REAS commented on #469
Great catch! Will fix.

[2016-09-01 15:28] drguildo commented on #463
That sounds good to me.

[2016-09-01 21:30] shiffman commented on #463
Great, changed!

[2016-09-01 21:30] #463 closed

[2016-09-07 19:32] #437 closed

[2016-09-07 19:33] x13420x commented on #437
reposted here
https://github.com/processing/processing-docs/issues/437

[2016-09-11 15:09] GKFX commented on #455
An example stetch would be ideal to demonstrate how `%` works with negatives.
[code]

plots the graph
![graph](https://cloud.githubusercontent.com/assets/5357642/18418198/e2fb84e4-7839-11e6-9bea-5f2d6e1fcc96.png)

(Using the renderer FX2D is just to work around the old bug in `point()` where the point is smeared over two pixels.)

[2016-09-12 16:13] alignedleft commented on #455
@GKFX Thanks for pointing out that the Java % operator really operates like a "remainder" operator and not a "modulo" in the event of negative numbers.

However, I think it's unlikely we'll rename the operator in the Processing docs, as we already have many years of referring to it as "modulo" (including in many published books, which would have to be updated).

Also, it's not incorrect to call it

[2016-09-12 16:13] #455 closed

[2016-09-12 20:36] GKFX opened #471 "License issues"
As part of processing/processing#4266 (Debian version) a few license issues have popped up regarding this repository:
- There's no license attached to https://github.com/processing/processing-docs/tree/master/content/examples, which forms part of the download. Please could you state what license it is?
- CC-BY-NC-SA 4.0 license is incompatible with the Debian Free Software Guidelines. Would it be

[2016-09-12 20:47] alignedleft commented on #468
Clarifying this issue…

The Reflection2 example bundled with Processing works fine.

The issue is with the p5-based version used here:

https://processing.org/examples/reflection2.html

To reproduce:

* load that page
* wait until the ball touches the left edge of the screen
* (you may need to reload a few times until you get terrain that encourages the ball to go left)
* note console error:

[cod

[2016-09-12 20:49] alignedleft commented on #471
@GKFX Is this helpful?

https://github.com/processing/processing/blob/master/license.txt

[2016-09-12 20:56] benfry commented on #471
Hm, for the reference side I don't see a compelling reason to drop the NC. Thoughts, @REAS?

[2016-09-13 13:02] GKFX commented on #471
@alignedleft The license on the processing/processing repository is perfectly clear and I've got that documented properly, it's just that directory in this repository that I think I'll need some sort of statement on.
@benfry I don't like having to ask you to change your licenses, but it's not going to be possible to package the documentation with an NC on it. I don't see what you're gaining by pro

[2016-09-13 13:55] mostovykh opened #472 "PI etc constants not specified type"
On the reference pages
https://processing.org/reference/PI.html
https://processing.org/reference/HALF_PI.html
https://processing.org/reference/TWO_PI.html
the numerical values are given, as if PI, HALF_PI, TWO_PI were of type double (or even more accurate). In reality, all of them are float. Math.PI exists in type double, but not Math.HALF_PI

Thanks in advance for your attention

[2016-09-13 21:05] #472 closed

[2016-09-13 21:07] alignedleft commented on #472
Right you are! Great catch.

I've confirmed that all of the constants you mentioned, plus QUARTER_PI, THIRD_PI (which we don't even document) and TAU, are floats, not doubles, as you can see in the source, where they are defined:

https://github.com/processing/processing/blob/f6fb24b750743ac95c9060b73cf0f955a84967a9/core/src/processing/core/PConstants.java#L142

This isn't a major issue, but you'r

[2016-09-13 22:32] benfry commented on #471
We've already had Codea and others rip off the reference in for-profit projects (and without attribution, for that matter). Having the license in place helps keep things abundantly clear. I'll discuss with the other Foundation folks to see if they feel differently.

We'll also be fine without a Debian version. Or folks can use the `.deb` and install themselves and/or we can set up our own reposito

[2016-09-18 16:16] REAS commented on #471
The examples don't have a license, they are as free as can be. I would like to keep the CC license on the Reference for the reasons Ben mentioned above + a few others. Is there another CC license that is compatible with a Debian distro? This is a new consideration.

[2016-09-18 16:32] GKFX commented on #471
@REAS The Debian people tend to be extraordinarily fussy; it would help if you could explicitly say "they are public domain". Thanks!
The only CC licenses that don't have a non-commercial or no derivatives license are CC-BY and CC-BY-SA, of which CC-BY-SA is the closest to the current CC-BY-SA-NC, and is the only one listed at https://wiki.debian.org/DFSGLicenses#Creative_Commons_Attribution_Share

[2016-09-20 22:55] REAS commented on #471
OK, the Reference files have a non-commercial license by intent and I want to keep it that way, so I guess it will be necessary to link, rather than to include. I started a README for the Examples: https://github.com/processing/processing-docs/blob/master/content/examples/README.md

I can ask some of the other examples authors @shiffman, Ira Greenberg, and others about including their code in publ

[2016-09-22 17:08] cdburner opened #474 "Spelling error"
Hi

On the following page:
https://processing.org/reference/scale_.html

Third line of the second paragraph in description.
The word function is spelt word.

Regards

David Wright

[2016-09-22 23:39] #474 closed

[2016-09-22 23:40] alignedleft commented on #474
Fixed:  https://processing.org/reference/scale_.html

Thanks, David.

[2016-09-24 12:07] gohai opened #475 "Incompatible ToxicLibs could be removed from the Library Manager for the time being"
Reported here: https://github.com/processing/processing/issues/4677

[2016-09-24 16:36] benfry opened #476 "Where should exec() reference live?"
`exec()` handles running things on the command line. I didn't want it in the main reference since it's a fairly technical thing, but folks are using `launch()` and [getting confused](https://github.com/processing/processing/issues/4667) when it doesn't behave correctly. I couldn't figure out why this was being reported somewhat frequently, forgetting that I probably said "let's not put `exec()` in

[2016-09-26 20:49] clankill3r opened #477 "Website slow for weeks"
The processing website is really slow in Europe (Netherlands).
This is for a few weeks now with no exceptions.
The average to load a page is about 27 seconds.

[2016-09-27 04:14] alignedleft commented on #477
Thanks for reporting this. Could you help troubleshoot? If possible, try opening Chrome's dev tools. Start recording in the timeline tab, then visit processing.org. Post a screenshot of what you find. Thanks!

[2016-09-27 16:20] 24lightning commented on #477
is it this?
![](http://image.prntscr.com/image/ccd2cda2c47d46ceb444e547ff6d3b21.png)

[2016-09-27 19:00] REAS commented on #477
I'm having the same issue in California today as well. I checked our ISP: https://status.linode.com/history and it doesn't seem like they are having (obvious or reported) issues today. @benfry has checked the server and the past and it wasn't too much traffic. I don't know what the current issue is.

[2016-09-27 19:01] REAS commented on #476
The JavaDoc is linked from the top of all of the Reference pages, it's here: http://processing.github.io/processing-javadocs/core/

From your comment, it seems like it would be best to make sure exec() is well documented in the source code and we can link to that directly from the description for launch()

[2016-09-27 19:02] REAS commented on #475
@prisonerjohn Do you know the status of this?

[2016-09-27 19:13] ROM72 commented on #477
same problem in france, here :
[TimelineRawData-20160927T211220.zip](https://github.com/processing/processing-docs/files/496464/TimelineRawData-20160927T211220.zip)

[2016-09-28 02:58] alignedleft commented on #477
It's taking from 2-5 seconds to load pages for me (West Coast, USA). Is anyone noticing specific pages being slower than others?

Looking at Chrome's timeline, about half our page load time goes into scripting (executing JS). We could probably take steps to cut that down, but even with that, pages should appear in less than 5 seconds (assuming the local network isn't limiting).

[2016-09-29 18:02] dingonv commented on #460
The example as written is not working in 3.2.1.
the simple fix is to replace
String path = sketchPath;
with
String path = sketchPath();

Additionally, the directorylisting.html example, is not linked from the Examples page, and appears to only be found through a site search.

Opened here, because this has nothing to do with the feature enhancement discussion opened above, and only relates to the o

[2016-09-29 18:06] REAS commented on #460
I will look into this.

[2016-09-29 18:18] REAS commented on #460
The Examples build system for the releases is working fine. I think processing-docs might not have been updated for the last release. The example was corrected on 16 August and the release was on 19 August. It should be corrected with the next release, I just did a test build and the example is correct. To the other question, we only have the visual examples that work in a browser linked from the

[2016-10-01 21:11] prisonerjohn commented on #475
I know @shiffman is working on it. I'll remove it from the list in the next update until it is ready for inclusion.

[2016-10-02 02:51] jeremydouglass opened #478 "PeasyCam listed in Contribution manager as version "null""
In Processing 3.2.1, Contribution Manager > Libraries lists "Peasycam null" -- "null available" (to install), and, after installing, "null installed."

I would expect a version number, or else (if version-less libraries are allowed) for the Contribution manager to silently omit the "null" from text display.

[2016-10-02 20:09] shiffman commented on #475
Yes, apologies this ended up in there before it was ready.  I'm working on getting toxiclibs up to date with Processing 3.

[2016-10-02 20:11] shiffman commented on #471
ok by me!

[2016-10-02 20:17] shiffman commented on #468
Just a typo in the code, fixed now! https://github.com/processing/processing-docs/commit/285087e7b028c40b59e0b831d52bc48135f7fef3

[2016-10-02 20:17] #468 closed

[2016-10-03 18:26] prisonerjohn commented on #475
It's now disabled (temporarily).

[2016-10-03 18:26] #475 closed

[2016-10-03 18:39] prisonerjohn commented on #478
That's a bug, probably an issue with the Library properties file. I'll look into it and notify the author, thanks for reporting.

[2016-10-03 18:46] prisonerjohn commented on #478
cc @jdf !

[2016-10-03 22:33] agrignard commented on #477
Same problem in Cambridge, Massachussets

[2016-10-04 09:37] clankill3r commented on #477
It was fast for me last weeks but now it's up to around 30seconds again.

[2016-10-04 16:39] alignedleft commented on #477
Thanks. I've never seen such inconsistent loading times, and I'm researching how to test and troubleshoot this. Just now, I had no server response (home page failed to load), but on retry it loaded in ~3 seconds (Chrome, West Coast, USA). More from me shortly, and thanks for your patience!

[2016-10-04 17:10] jedierikb commented on #477
cambridge, ma --> chrome says `establishing secure connection` (in the bottom left of the browser) and then times out after a while resulting in `this page cannot be loaded`

[2016-10-04 17:51] brondbjerg commented on #477
Here in the UK, it will sometimes time out and not deliver, but usually super slow to initially load the document, but then fine to load subsequent assets.

I've attached my chrome Network report.

1) Is it a slow DNS resolution? (not sure how you check)
2) How is the page generated in the backend? From a script or database? Is that holding up delivery of the page?
3) I notice that all assets are

[2016-10-04 18:03] brondbjerg commented on #477
Tried a dns lookup from the command line in windows it was pretty quick.
So it must have something to with the generation / delivery of the html document.
![nslookup](https://cloud.githubusercontent.com/assets/6823377/19086236/2f9bed88-8a65-11e6-865e-7dcd3305868e.png)

[2016-10-04 18:15] benfry commented on #476
Yup, sounds good.

[2016-10-05 04:26] alignedleft commented on #477
Thanks, @jedierikb and @brondbjerg.

Mike, this is helpful.  FWIW, we use scripts to generate flat HTML files, so the whole site is just static HTML, not generated live. (The exception to this is the forum, which is dynamic.)

[2016-10-05 04:58] brondbjerg commented on #477
If the problem is slow delivery of static files maybe try a CDN like cloudflare? Though I have no experience of this personally.

[2016-10-06 12:56] StanLepunK commented on #477
Processing is slow too in Paris.  around 60 secondes to open a new page on reference page?
I'm a wifi with ADSL, no fiber / Firefox navigator same on Safari, Chrome and Tor.

[2016-10-06 15:13] filip commented on #477
Just noticed. The same goes for generator :(

[2016-10-06 21:57] alignedleft commented on #477
@filip Sorry, what do you mean? That the /generator/ page is slow to load for you?

[2016-10-07 08:54] filip commented on #477
The generate page, yes. Seems ok now but yesterday when I was updating the exhibition it was really slow. Same goes for the website. Looks ok now..

[2016-10-07 14:23] benfry commented on #477
I've just doubled the size of the machine so we should have 2x the performance and bandwidth. If that fixes things, then great—it may have just been more overworked than it looked.

If not, there's a lot that can be done to optimize how it's serving files, I just need to find the time to do it. I'll leave this open since I suspect capacity wasn't really the problem; let's keep an eye on it.

[2016-10-07 14:33] benfry commented on #478
Also added an issue so that it doesn't show 'null' in the UI.

[2016-10-07 14:54] benfry opened #479 "Add options to saveJSONArray documentation"
Same goes for saveJSONObject; reported here: https://github.com/processing/processing/issues/4683

[2016-10-08 07:05] REAS commented on #477
Thank you @benfry

[2016-10-09 06:40] heyilovepie opened #480 "Since Processing is so useful in games, why is there no Finite State Machine ADT?"
Hi!
I am finding it a pain making a whole bunch of states as booleans etc and having to keep track of them. As a new programmer, I made a lot of errors that would be solved quite easily if there was a state abstract data type I could use to make sure only one state was happening at once. After looking back at my old code, getting totally confused with the dumb way I handled states and trying to fi

[2016-10-10 04:05] Abdur-RahmaanJ opened #481 "Why no simplified syntax for Android?"
Just like processing did a fabulous simplifying of the syntax of the usual Java package, it would be nice if the android-related syntax could be simplified.

[2016-10-10 09:17] gritd commented on #477
alas still very slow here in NL

[2016-10-10 09:24] brondbjerg commented on #477
+1 @gritd comment. Still slow in the UK.

[2016-10-10 17:35] alignedleft commented on #481
Please consider filing this in the appropriate repo: https://github.com/processing/processing-android/issues

That said, this isn't a bug; you're proposing a change to the API (I think).  In that case, it's probably best to start a discussion about the idea first: https://forum.processing.org/two/categories/android

[2016-10-10 17:35] #481 closed

[2016-10-12 20:57] Eno12345 opened #482 "SoundFile not working"
[code]
This code is not working. I get the Error: NullPointerExeption
please help

[2016-10-12 22:35] REAS commented on #482
Questions like this are for the Processing Forum: http://forum.processing.org

[2016-10-12 22:35] #482 closed

[2016-10-13 16:22] drguildo commented on #477
![image](https://cloud.githubusercontent.com/assets/9282/19357426/8cec0436-9169-11e6-999c-38014db211c0.png)

[2016-10-17 12:28] bomjacob commented on #477
![slow](https://cloud.githubusercontent.com/assets/3002987/19437495/debad008-9475-11e6-8f15-ccb069823d30.png)
It's really strange how some resources load almost immediately, and others take upwards of 25 sec.

[2016-10-17 12:59] jjisnow opened #483 "SemiColon reference on py.processing getting started page"
http://py.processing.org/tutorials/gettingstarted/
There should be some mention about halfway down that lines in python don't always end in semicolons, and generally don't.

[2016-10-17 21:03] aandnota commented on #477
Still super slow for me.

![screen shot 2016-10-17 at 4 02 44 pm](https://cloud.githubusercontent.com/assets/287729/19455601/355fe904-9483-11e6-8fba-8a179d0bff2d.png)

[2016-10-19 16:45] Felix-56 opened #484 "Gstreamer video plugin issue"
Hello,
Here is my program ;

_import processing.video.*;_

_Movie myMovie;_

_void setup(){_
  _size(1280, 720);_
  _myMovie = new Movie(this, "test.mp4");_
  _myMovie.play();_
_}_

_void draw(){_
  _myMovie.read();_
  _image(myMovie, 0, 0);_
_}_

_void movieEvent(Movie m){_
  _m.read();_
_}_

I just want to play  video with processing but when I run it, I've go this issue :
**_"A library relies o

[2016-10-19 18:00] alignedleft commented on #484
This isn't a problem with the documentation. Please post this question on forum.processing.org

[2016-10-19 18:00] #484 closed

[2016-10-23 11:23] thomasbratt opened #485 "Working example of using Processing core libraries in Intellij"
The Eclipse example didn't work for me - the type needed to be fully scoped to work.

I've written a working example of using the Processing core libraries (3.2.1) in Intellij if it's any help.

https://github.com/thomasbratt/ProcessingInIntellij

[2016-10-25 05:45] epicNO9 opened #486 "Example "SimpleParticleSystem" Not Working"
<img width="401" alt="screen shot 2016-10-25 at 1 41 18 am" src="https://cloud.githubusercontent.com/assets/13410032/19674176/2c4c114a-9a54-11e6-875f-12e38fc75a74.png">
When the example code is copy/pasted into Processing 3.2.1, it comes up with an error

[2016-10-25 17:33] benfry commented on #477
The Linode folks aren't seeing anything wrong… For anyone having issues, can you try running [MTR](https://www.linode.com/docs/networking/diagnostics/diagnosing-network-issues-with-mtr)?

[2016-10-25 17:48] walterra commented on #477
Accessing www.processing.org from Austria.

Output of `mtr www.processing.org`:

[code]

[2016-10-25 18:02] sansumbrella commented on #477
The time-consuming part on my end (currently in Senegal) is "establishing a secure connection," similar to @jedierikb's report. Maybe the authentication server for the ssl certificate is slow? It doesn't seem to show up in the `mtr` profiling, and I didn't find any way of tracing an https connection with the tool.

[code]

[2016-10-25 18:03] KevinWorkman commented on #480
You've posted this in the Processing Documentation GitHub. It seems like it would belong in the Processing GitHub instead.

But enum seems to work fine in Processing 3.1.1:

[code]

[2016-10-25 18:09] KevinWorkman commented on #477
I thought this was just me!

For me, what happens is my browser hangs on the "establishing secure connection" step for about 30 seconds, and then when that completes everything loads in about 1 second.

[2016-10-25 18:19] KevinWorkman commented on #486
The only problem is that line should be `get()` instead of `copy()`.

It looks like this should have been fixed already: https://github.com/processing/processing-docs/issues/448

But maybe it just hasn't been pushed to the live site yet?

[2016-10-25 19:10] benfry commented on #477
I suspect “establishing secure connection” is probably a red herring—that if it weren't using SSL it would say “establishing connection” instead, but if anyone knows differently, please pipe up.

[2016-10-25 21:11] epicNO9 commented on #486
Yeah, it just hasn't been pushed to the live site yet. Thanks!

[2016-10-25 22:21] benfry commented on #477
Hm, that may not actually be correct… we're using Comodo SSL certificates and I'm seeing a little chatter here and there about configuration issues with them, but nothing conclusive. Any insights welcome…

[2016-10-26 00:10] benfry commented on #477
I've just turned off ipv6 since that may have caused some trouble. Any luck?

[2016-10-26 00:17] KevinWorkman commented on #477
It does seem much faster, but then again I'm vaguely sure that the problem was sporadic to start with. (Although that might be because of caching?)

[2016-10-26 05:21] monkstone commented on #477
Improvement is pretty marked, and in my experience it was not all sporadic,it was previously dreadfull pretty much all of the time from UK.

[2016-10-26 06:29] papoms commented on #477
Way faster now.

[2016-10-26 11:06] brondbjerg commented on #477
I've been in & out of the site all morning from the UK, and no problems so far! Looking good!

[2016-10-26 13:25] KevinWorkman commented on #477
Tried it from work (behind a corporate firewall) and I'm getting the same issue as before: hangs on the "establishing secure connection" step for a while, then everything loads. This might be more the fault of the firewall, but then again I haven't noticed any other sites doing the same thing.

[2016-10-26 13:59] brondbjerg commented on #477
It's back to slow again from the UK. I may noticed this before that is worse in the afternoon (here) perhaps when the US comes online?!?

[2016-10-26 16:04] benfry commented on #477
Try now?

[2016-10-26 16:11] brondbjerg commented on #477
Now much better! Instant access.

[2016-10-26 16:26] benfry commented on #477
Fingers crossed…

[2016-10-26 16:26] drguildo commented on #477
The problem, at least in some cases, might be on the client side. I know I've had problems in the past with IPv6 causing things to run dog slow (XMPP in that case).

[2016-10-26 16:29] benfry commented on #477
@drguildo Are you still having problems?

[2016-10-26 17:38] aerrity commented on #477
Way better now. Loaded in 1.17s in Dublin, Ireland.

[2016-10-26 18:12] benfry commented on #477
@aerrity thanks for the update

[2016-10-26 18:41] voxspox opened #487 "documentation of Serial.readString()"
The [docs](https://www.processing.org/reference/libraries/serial/Serial_readString_.html) the return value of readString() is `String`. Controversy the example tests the return value against `null`.

Open questions:
* Is `null`a return value? What is the meaning? Empty buffer, failure, etc..
* What is the return value in case of an error, respectively, which exceptions a thrown?
* What is the retu

[2016-10-26 18:50] sansumbrella commented on #477
Much improved in Senegal.

[2016-10-26 18:55] drguildo commented on #477
Website seems fine at the moment. 👍

[2016-10-26 21:38] alignedleft commented on #480
Yes, this might be a good question for the forum: forum.processing.org

[2016-10-26 21:38] #480 closed

[2016-10-26 21:43] alignedleft commented on #486
Thank you both, and thanks for the reminder. I just updated the live site. You should find the working code here: https://processing.org/examples/simpleparticlesystem.html

I also tested in 3.2.1 and it's working. :-)

[2016-10-26 21:43] #486 closed

[2016-10-26 21:45] alignedleft commented on #487
@gohai I believe you're familiar with the Serial library. Can you help answer these questions? I can make any doc updates, if needed.

[2016-10-26 22:02] gohai commented on #487
Thanks @alignedleft for pointing me to this!

To @voxspox questions:

* `null` is a return value, indicating an empty input buffer (no data to read)
* there are no exceptions that can occur in this path (theoretically: `OutOfMemory` if we can't allocate a copy of the input buffer)
* `null`

Hope this helps!

[2016-10-26 22:09] alignedleft commented on #485
Thanks. @thomasbratt are you referring to this tutorial?

https://processing.org/tutorials/eclipse/

[2016-10-26 22:10] alignedleft commented on #487
Thanks, @gohai. Closing this, but we can re-open if you feel any of that needs to be better documented.

[2016-10-26 22:10] #487 closed

[2016-10-27 00:33] benfry commented on #477
Alright, sounds like we've solved it. Thanks folks…

[2016-10-27 00:33] #477 closed

[2016-10-27 08:59] thomasbratt commented on #485
@alignedleft yes that's the one.

[2016-10-27 20:13] voxspox commented on #487
please update the documentation:
Return: String or null

[2016-10-28 17:26] alignedleft commented on #483
Thanks! Please file this issue here: https://github.com/kazimuth/processing-py-site

That's the repo for the Processing.py site.

[2016-10-28 17:26] #483 closed

[2016-10-28 21:13] alignedleft commented on #485
@theshanewhite Could you review this, as it pertains to your tutorial?

[2016-10-28 21:19] alignedleft commented on #456
I rewrote and extended much of the "Repositories" wiki page today. It now covers Processing.py and p5.js:

https://github.com/processing/processing/wiki/Repositories

[2016-10-28 21:19] #456 closed

[2016-10-28 21:24] alignedleft opened #488 "beta.processing.org is down"
The Beta site seems to be offline: http://beta.processing.org

Also test with: http://isup.me/beta.processing.org

@benfry could you take a look? Perhaps a recent site config change impacted this? Thank you!

[2016-10-28 21:34] #469 closed

[2016-10-28 21:46] alignedleft commented on #461
Thanks again @NicolasFernandez2001 for reporting this.

[2016-10-28 21:46] #461 closed

[2016-10-28 21:49] alignedleft commented on #457
This has sat open for so long, and it's not really a bug, so I'm closing it. @REAS feel free to reopen if you feel otherwise, as it's based on your book. :-)

[2016-10-28 21:49] #457 closed

[2016-10-29 13:18] benfry commented on #488
It's now at https://processing.org:8443/ (part of dealing with the site responsiveness problems)

[2016-10-29 13:18] #488 closed

[2016-10-29 21:25] alignedleft commented on #145
@gohai As long as you're looking at the Serial docs… could you review this (very old) issue? I suspect it's taken care of by now. Thanks!

[2016-11-01 12:38] hlucca opened #491 "Error in Boundary Collision Function"
### Issue description
When using a lot of particles of same size, and some collide at same time in x and y then only the x correction takes and the particle disappears!

### URL(s) of affected page(s)
https://processing.org/examples/circlecollision.html

### Proposed fix
The 2nd 'else' within the function checkBoundaryCollision should be deleted (only the 'else' keyword!).

Like this:

[code]

[2016-11-01 12:59] hlucca opened #492 "Error within check collision"
### Issue description
If you simulate paticles at high speed (using a bigger step), some particles will "catch" others. The reason is, the collision -correction does not take in account the fact, that paricles may overlap.

### URL(s) of affected page(s)
https://processing.org/examples/circlecollision.html

### Proposed fix
A workaraound may be: first re-place colliding particles back to their eff

[2016-11-01 13:24] hlucca opened #493 "Encapsulation does not work"
### Issue description
I would like, if I declare an attribute as private, to not be able to access them from outside the class.

### URL(s) of affected page(s)
processing 3

### Proposed fix
At least, exclude from proposal in code compleation...

[2016-11-01 13:27] hlucca opened #494 "An Idea For Collision Detection"
### Issue description
It would be very nice and effective, if we could use graphic card features for shape-collision detection and then using event-handlers.

### URL(s) of affected page(s)
processing 3

### Proposed fix

[2016-11-01 16:19] theshanewhite commented on #485
hey @thomasbratt , @alignedleft ,

I just re-tested it all with the latest versions of Processing core, seems to still be working. Can you be more specific with what didn't work for you?

If you're referring to including the whole package path when you start the PApplet, that is noted in the tutorial, in the 'setting up the client class' section.

[2016-11-01 21:26] alignedleft commented on #493
Thanks for all these reports. Since this isn't a bug and doesn't pertain to processing-docs (website and reference), please share your idea on forum.processing.org

[2016-11-01 21:26] #493 closed

[2016-11-01 21:26] alignedleft commented on #494
Thanks for all these reports. Since this isn't a bug and doesn't pertain to processing-docs (website and reference), please share your idea on forum.processing.org

[2016-11-01 21:26] #494 closed

[2016-11-02 19:56] thomasbratt commented on #485
@theshanewhite I think you covered it with:

I guess it just caught me out - not many Java applications use the default namespace.

Thanks for looking into it in any case :)

[2016-11-02 21:34] alignedleft commented on #485
Thank you both, @thomasbratt and @theshanewhite!

[2016-11-02 21:34] #485 closed

[2016-11-03 00:10] benfry commented on #485
You can also use `PApplet.main(ClassName.class)` which will allow you to 1) refactor the code properly, 2) avoid potential typos in the name, and 3) not have to specify the package declaration…

[2016-11-03 23:18] benfry commented on #478
Closing this since it's not a p5 bug; fixed here https://github.com/processing/processing/issues/4696

[2016-11-03 23:18] #478 closed

[2016-11-06 16:27] jdf commented on #478
So... I don't have to do anything?

[2016-11-06 18:04] benfry commented on #478
It's an issue in your project, not the processing-docs repo, so it doesn't belong here. (And the bug noted above that was fixed for the next release that was showing `null` in the UI.)

Your libraries need some updates to follow the guidelines. Full description/expectation for each of the variables in the `library.properties` is here: https://github.com/processing/processing/wiki/Library-Basics#de

[2016-11-07 01:57] jdf commented on #478
Thanks, Ben. I believe I've pushed the requisite changes.

[2016-11-07 16:06] prisonerjohn commented on #478
Looks good on my end!

<img width="750" alt="screen shot 2016-11-07 at 11 05 48 am" src="https://cloud.githubusercontent.com/assets/119702/20064888/388f5dd2-a4da-11e6-8ca2-cc4008b8b899.png">

[2016-11-10 22:23] REAS commented on #492
OK, if possible, please try to integrate into the current example. This is how it will be updated.

[code]

[2016-11-10 22:27] #492 closed

[2016-11-10 22:35] REAS commented on #491
These proposed changes are too extensive to the original. I hope you will share it with others, but I feel that it's too much of a change in style from the original example.

[2016-11-10 22:35] #491 closed

[2016-11-10 22:39] REAS commented on #471
OK, I added @shiffman's files to the public domain in the README. I am closing this.

[2016-11-10 22:39] #471 closed

[2016-11-10 22:52] REAS commented on #476
It is linked from launch() more now clearly (it was already there), but it's not well described in the source code for the JavaDoc. I'll add that to the other repo and will reference this.

[2016-11-10 22:52] #476 closed

[2016-11-10 23:35] REAS commented on #479
Both saveJSONArray() and saveJSONObject() have the additions.

[2016-11-10 23:35] #479 closed

[2016-11-10 23:43] REAS commented on #453
OK, fixed now.

[2016-11-10 23:43] #453 closed

[2016-11-11 04:17] REAS commented on #445
Confirmed this today, so closing.

[2016-11-11 04:17] #445 closed

[2016-11-11 04:22] REAS commented on #438
This is corrected for the next update.

[2016-11-11 04:22] #438 closed

[2016-11-11 04:26] REAS commented on #439
I ran the code and it is fine as is. I'm closing this, but also referencing @codeanticode if he has more to say.

[2016-11-11 04:26] #439 closed

[2016-11-11 04:30] REAS commented on #427
I think this is a legacy section that we had from the QuickTime days and before the library was moved out. I removed it from the document. Right now, the information is in the processing-video repo: https://github.com/processing/processing-video/wiki

[2016-11-11 04:30] #427 closed

[2016-11-11 04:33] REAS commented on #425
I'm not sure if the example was updated since this bug was posted, but it's currently working fine on the current version of Processing, 0256. @codeanticode

[2016-11-11 04:33] #425 closed

[2016-11-11 04:45] REAS commented on #424
I'm not sure why it's not also mentioning a single `int` or `float` as inputs. That part of the reference is autogenerated, so it may be a bear to fix. I am updating the text to be more clear, it works for int, float, int[] or float[]

[2016-11-11 04:50] REAS commented on #424
Here's some code that shows it works with arrays:

[code]

[2016-11-11 04:50] #424 closed

[2016-11-11 05:01] REAS commented on #418
I'll make a note that BufferedReader is a Java class that can be looked up in a Java reference, for example: https://docs.oracle.com/javase/7/docs/api/java/io/BufferedReader.html

We always need to make choices about what to include in the Processing Reference because we can't document all of Java there. I think BufferedReader is best to omit.

I'll add the reader.close() method and I'm cc'ing @be

[2016-11-11 05:06] #418 closed

[2016-11-11 05:12] REAS commented on #416
I think the keywords.txt file hadn't been updated? I'm not sure, but I just tried and it is working now. This shows it's in the file now: https://github.com/processing/processing/commit/8426f034d5375e8f30cb7b2bb308a75264cde747

[2016-11-11 05:12] #416 closed

[2016-11-11 05:17] REAS commented on #412
This link is fixed. Thank you for reporting it.

[2016-11-11 05:17] #412 closed

[2016-11-11 05:19] REAS commented on #407
We haven't heard back since March, I'm closing this.

[2016-11-11 05:19] #407 closed

[2016-11-11 05:41] REAS commented on #403
Hello @dwansmith, I'm coming back to this after a long pause. I added the following to the reference for draw():

`All Processing programs update the screen at the end of draw(), never earlier.`

I removed the reference to anti-alias in the description. The history behind that... it was written so long ago, the term was in more general use for the original audience for the project, design students

[2016-11-11 05:41] #403 closed

[2016-11-11 05:56] REAS commented on #402
I'm adding sort() and I directly linked to the Table HTML page.

[2016-11-11 05:56] #402 closed

[2016-11-11 06:06] REAS opened #496 "Fix Example 4 for the Electronics Tutorial"
https://processing.org/tutorials/electronics/

Requires an Arduino and Servo motor

[2016-11-11 06:07] REAS commented on #399
I'm closing this report. I've opened a new report to cover the original issue: #496

[2016-11-11 06:07] #399 closed

[2016-11-11 06:13] REAS commented on #392
It's one of those situations where there are in the file, but not making it through the HTML parser. Also, look at `parseJSONObject()` too

[2016-11-11 06:31] REAS commented on #392
Fixed by using `&#92` in place of `\`

[2016-11-11 06:31] #392 closed

[2016-11-11 06:35] REAS commented on #376
I modified the example and it's working well for me now.

[2016-11-11 06:35] #376 closed

[2016-11-11 06:41] REAS commented on #374
I made an adjustment to the exit() reference page.

[2016-11-11 06:41] #374 closed

[2016-11-11 06:47] REAS commented on #359
@codeanticode Did the changes you made over the last few weeks cover all of this?

[2016-11-11 14:52] jarkman commented on #418
Thanks, that's great.

I agree, it doesn't make sense for you to document all of Java, but it's hard (as a reader) to know when a class mentioned in the docs like this is part of Processing and when it's part of Java. Documenting that explicitly is perfect.

[2016-11-11 15:00] #6 closed

[2016-11-11 15:02] #56 closed

[2016-11-11 15:06] REAS commented on #85
To update, the reference.zip file is now built on the server every time the Reference is udpated through the generate scripts. It is linked from its location to the download subdomain. When people build Processing from source, it pulls this zip from the server into the local folder. This whole system is working better now than it was when this thread was started, but it's far from "good."

[2016-11-11 15:09] #145 closed

[2016-11-11 16:26] benfry commented on #374
Not sure what you changed it to, but it should say that programs halt if they don't have a `draw()` method, so that the window stays open so that users can see the result. (And that they should add `exit()` if they want the sketch to quit when finished.) The exception is renderers that don't open a window, like PDF, which will exit automatically when done.

[2016-11-11 17:20] benfry commented on #402
Sorry, apparently missed this one. Works for me!

`findRows()` and `matchRows()` might also be good candidates. Probably better would be to make a nice thorough `Table` tutorial. A lot of thought (and practice) has gone into it, I just haven't had time to explain it better.

[2016-11-11 17:24] benfry commented on #416
We've gone back and forth on including `delay()` in the reference (or even `PApplet`) over the years… It causes a lot of bug reports from people trying to control the speed of their programs (“Why does the screen freeze when I tell it to delay?”) But it's a necessity for work with things like serial and occasionally networking…

[2016-11-11 17:28] REAS commented on #416
Yes, the new reference is better than it was before and the only example is a Serial example. Fingers crossed history won't repeat itself.

[2016-11-11 17:30] REAS commented on #402
I'll open a new issue for `findRows()` and `matchRows() `. I think that will likely happen before a nice `Table` tutorial.

[2016-11-11 17:31] REAS opened #497 "Add findRows() and matchRows() to Table reference"
It's difficult to know how many of the extensive Table methods to include in the simple Processing Reference. We've decided to add `findRows()` and `matchRows()` and to continue to link to the JavaDoc for the rest.

[2016-11-11 20:34] codeanticode commented on #439
The normal is correct (pointing along the positive direction of the Z axis), but the z coordinate of the point light was wrong. This was fixed with the last round of changes in the tutorial.

[2016-11-11 20:41] codeanticode commented on #359
Yes, the tutorial 100% updated now.

[2016-11-11 20:41] #359 closed

[2016-11-11 23:13] shiffman commented on #475
New version to test here:

http://shiffman.net/p5/libraries/processing3/toxiclibs/toxiclibs.txt
http://shiffman.net/p5/libraries/processing3/toxiclibs/toxiclibs.zip

[2016-11-12 15:52] technosalon commented on #439
@REAS @codeanticode thanks! The problem might have been fixed at the unknown time for me. I have forgotten on this matter, though... why I mentioned on the clockwise, which should be the default in processing. Anyway, in that case, it's better to fix the figure below the code listing 1.1 to avoid from our confusing, I guess!

[2016-11-12 15:59] codeanticode commented on #439
You are right, the figure should be updated as well. I will push that change shortly. Thanks!

[2016-11-12 17:00] codeanticode commented on #439
done https://github.com/processing/processing-docs/commit/3edeb2f8177afa6b65a0664b2405800abe42b1af

[2016-11-12 17:59] technosalon commented on #439
@codeanticode you are super fast! many thanks!

[2016-11-18 18:39] jeremydouglass opened #500 "Clarify image() syntax and parameters."
### Issue description

The `image()` reference page uses needlessly abstract syntax and parameter labels: ( a, b, c, d) .

It should match the reference in using (x, y, w, h) or (x, y, width, height) -- this will make it much clearer for beginners to read.

The current page:

[code]

### URL(s) of affected page(s)

-  https://processing.org/reference/image_.html

### Proposed fix

Change the refer

[2016-11-18 18:44] jeremydouglass commented on #497
Possibly related: there was a [recent forum thread](https://forum.processing.org/two/discussion/19100/table-class-addcolumn-has-a-category-type-what-is-that) from someone who started looking at the reference for [addColumn]() looking at this:

...and then went to the JavaDoc, and then to the Processing source, trying to figure out what CATEGORY does.

The mystery was not resolved, but if it relate

[2016-11-18 22:21] benfry commented on #500
It's `c` and `d` because the parameters depend on the `imageMode()` setting (just like rectangles). Though we shouldn't say `c` is the width, of course…

[2016-11-18 22:22] benfry commented on #497
It's for categorical data, but it's not finished and therefore not documented.

[2016-11-19 04:40] jeremydouglass commented on #500
Ah, of course. So the `image()` param list should be updated to match [rect()](https://processing.org/reference/rect_.html), which uses "by default" --

[code]

[2016-11-19 21:42] jeremydouglass opened #501 "Remove CATEGORY from addColumn() reference"
### Issue description

The `addColumn()` reference lists the `type` parameter as taking enumerated argument `CATEGORY`. This is part of a feature that has not yet been implemented (as mentioned in #497), and so shouldn't be in the public documentation because it [confuses users](https://forum.processing.org/two/discussion/19100/table-class-addcolumn-has-a-category-type-what-is-that).

### URL(s) o

[2016-11-23 03:36] REAS commented on #500
This is updated in the source now for the next update. Thanks Jeremy!

[2016-11-23 03:53] #500 closed

[2016-11-23 04:04] REAS commented on #501
It's updated in the Table source code. Thank you!

[2016-11-23 23:48] jeremydouglass commented on #501
Wonderful, and thank you Casey. Should I close, or does this remain open until the reference is updated in a separate step?

[2016-11-24 04:47] REAS commented on #501
I forgot to close it. I'll do it...

[2016-11-24 04:47] #501 closed

[2016-11-24 05:20] jeremydouglass opened #502 "Update bRigid link on Libraries page"
### Issue description

Libraries page lists bRigid -- link is 404. Update to new link.

### URL(s) of affected page(s)

https://processing.org/reference/libraries/

### Proposed fix

Change:

    http://www.lab-eds.org/rigid

to:

    http://www.lab-eds.org/brigid

[2016-11-24 05:21] jeremydouglass commented on #502
I would just submit a change against the libraries page index or html, but I couldn't find the website source in the repository. If there is a better way to submit minor site fixes, let me know.

[2016-11-25 16:15] prisonerjohn commented on #502
Thanks for pointing this out!

The entries on this page are generated from the contributed libraries properties files, so any issues must be fixed in those packages. I've e-mailed the author of bRigid outlining the issue, this will be resolved once he updates his package and the build script regenerates this page.

[2016-11-25 16:39] prisonerjohn commented on #475
It's back up!

[2016-11-29 22:56] shoruke opened #503 "StringList constructor arguments are unexplained"
### Issue description
In the page for StringLists, two constructor functions are listed, the second of which has the argument "items". But "items" is not described. Does it require a list of Strings in some other collection<> class? Does it accept an arbitrary number of arguments as long as all of them are Strings? The example on the page only uses the first constructor with no arguments. How does

[2016-12-01 22:39] JanoVel commented on #496
It's not working for me, the servo remains in the same position.
I'm using Processing 3.2.3 and Arduino 1.6.13

[2016-12-11 17:16] kasperkamperman commented on #406
The existence of this library is pretty much hidden. So mentioning it on the Processing website might smart.

[2016-12-13 18:17] tdail2011 opened #504 "Local variable referenced before assignment in py.processing.org tutorial on Objects"
### Issue description
A function definition in the first piece of example code in the Python Processing tutorial on Objects refers to a variable before assignment within the context of that function definition. This raises 'UnboundLocalError: local variable 'x' referenced before assignment'

### URL(s) of affected page(s)
http://py.processing.org/tutorials/objects/

### Proposed fix:
Add the follo

[2016-12-13 19:17] alignedleft commented on #504
Thanks, but please see [this page](https://github.com/processing/processing/wiki/Report-Bugs) on how to report a bug with the Python mode.

[2016-12-13 19:17] #504 closed

[2016-12-14 18:52] precociousmouse opened #505 "processing for android microsite top nav error"
### Issue description

The http://android.processing.org/ site has a menu item 'Processing for Android' which links through to http://android.processing.org/test/ (and fails)

### URL(s) of affected page(s)

http://android.processing.org/

### Proposed fix

Either remove the link altogether, or remove the /test/ part from the nav link

[2016-12-14 21:55] REAS commented on #505
@codeanticode FYI

[2016-12-17 18:43] creeperdam opened #506 "Constructors"
### Issue description
Inside eclipse consturctor isnt initializing variables. For example if i write inside constructor x=10 and then later on i try to use x it will always be 0 normally in java in eclipse once you call constructor variable should be set to 10 if you use x

### URL(s) of affected page(s)

### Proposed fix

[2016-12-17 18:51] #506 closed

[2016-12-20 14:25] OliverKDMIreland opened #507 "Size() Cannot be used here"
### Issue description
Cannot Run Program, Size() Cannot be used here..

`SolarSystem ss;

void setup()
{
    size(800, 800);
  ss=new SolarSystem();

  // earth
  ArrayList<Moon> earthMoons = new ArrayList<Moon>();;
  earthMoons.add(new Moon("Luna", 5, 25, 28));
  ss.addPlanet(new Planet("Earth", 10, 100+50, earthMoons));

  // mars
  ArrayList<Moon> marsMoons = new ArrayList<Moon>();
  marsMoons.

[2016-12-20 14:49] #507 closed

[2016-12-30 00:40] sejomagno commented on #406
I was looking for this library in the Print tutorial by @REAS https://processing.org/tutorials/print/
However I found the answer here: https://forum.processing.org/two/discussion/16227/how-to-export-to-svg-using-library-processing-svg

I can do a PR to the tutorial page with a note saying that the SVG and PDF export libraries can be used interchangeably

[2017-01-07 08:56] epic8009 opened #508 "Issues with keyPressed and/or key"
[code]
Nothing seems to get printed and unpaused doesnt seem to be changing.
Fullscreen if that helps.

[2017-01-07 10:50] #508 closed

[2017-01-07 11:14] epic8009 opened #509 "-1 % 192 = -1"
Should be 191... wtf

[2017-01-07 17:16] benfry commented on #509
http://stackoverflow.com/questions/5385024/mod-in-java-produces-negative-numbers

[2017-01-07 17:16] #509 closed

[2017-01-08 03:39] chipset1 opened #510 "Fix broken link in PShader tutorial"
### Issue description
One of the learning resources the tutorial suggest is "GLSL Sandbox". The link to that webpage doesn't work. The owners changed domains from http://glsl.heroku.com/ to  http://glslsandbox.com/

### URL(s) of affected page(s)

https://processing.org/tutorials/pshader/

### Proposed fix

Update the link to the new working domain

I was looking for the tutorial in this repo to f

[2017-01-09 05:41] #510 closed

[2017-01-09 05:45] alignedleft commented on #510
Thanks! Link fixed here:

https://processing.org/tutorials/pshader/

Thanks for offering to do a PR. It's on my list to better document where all the source lives. This is the best we have at the moment: https://github.com/processing/processing/wiki/Repositories

Thanks!

[2017-01-10 02:38] sannychun opened #511 "Can't run Processing.py"
### Issue description
Hello,

I'm new to Processing, so my question may sound quite dumb..but I can't get the Python version to run.
I have downloaded the Python mode from the tab in the upper-right corner of the console. However, I can't get to run even a simple test code such as rect(10,10,10,10). I have attached screenshots of my error messages below.

* I am running Processing on a x64 Windows

[2017-01-10 03:14] alignedleft commented on #511
Thanks! Please report this in the Processing Python mode repo. See link here: https://github.com/processing/processing/wiki/Report-Bugs#2-choose-where-to-report-the-issue

[2017-01-10 03:14] #511 closed

[2017-01-13 17:58] douira opened #512 "Crashes computer on macOS"
### Issue description
When a sketch is running and I press cmd+R to start it again after making changes to the code it causes my computer to crash. First it goes silent and displays pink fuzzy stripes randomly placed on the screen and then the "your computer has restarted because of an issue" message comes up. Image: https://i.stack.imgur.com/Iri0O.jpg This has happened several times already. It d

[2017-01-13 21:05] douira commented on #512
Update: it also crashes everything just when I close the sketch. (it just did) I've been using P2D. I'll see what happens when I use the default renderer.

[2017-01-13 21:52] douira commented on #512
I've also found these two errors repeated over and over in the system log right before the crash/during freeze and glitchiness happened:
`com.apple.xpc.launchd[1] (com.apple.DumpGPURestart): Service only ran for 7 seconds. Pushing respawn out by 3 seconds.
com.apple.xpc.launchd[1] (com.apple.nowplayingtouchui): Service only ran for 0 seconds. Pushing respawn out by 10 seconds.`
The DumpGPURestart

[2017-01-13 22:30] alignedleft commented on #512
The image you posted is what happens during a Mac kernel panic:

https://www.google.com/search?q=mac+kernel+panic&client=safari&rls=en&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiz6e_FlcDRAhUHr1QKHUu-DlEQ_AUICCgB&biw=1440&bih=812

More info:

https://support.apple.com/en-us/HT200553

I don't think this could be due to Processing, but maybe there's some underlying Java conflict with something else on you

[2017-01-13 22:30] #512 closed

[2017-01-15 03:00] tamichang commented on #77
Also the hint(DISABLE_DEPTH_TEST);  fixes the problem.

[2017-01-15 16:08] codeanticode commented on #505
Thanks for the heads up. The site is fixed now.

[2017-01-15 16:08] #505 closed

[2017-01-16 17:10] Light1980 opened #513 "Wrong color notation"
### Issue description

Wrong color notation in the **first paragraph** of **color_datatype**:

Colors may be assigned with get() and color() or they may be specified directly using hexadecimal notation such as #FFCC00 or **0xFFFFCCOO**.

### URL(s) of affected page(s)

https://processing.org/reference/color_datatype.html

### Proposed fix

0xFFFFCCOO --> 0xFFFFCC00

[2017-01-16 17:16] benfry commented on #513
So it's the letter 'O' instead of a zero in the current docs?

[2017-01-16 17:23] Light1980 commented on #513
@benfry Yes~

[2017-01-19 14:36] benfry opened #514 "mouseWheel() confusion"
https://github.com/processing/processing/issues/4837

[2017-01-23 01:38] archaicvirus opened #515 "Circle Collision Example "bugged out" after a while"
### Issue description
I was watching the circle collision example on the processing examples page in my browser - opera, then somehow zoned out watching the circles bounce around. Then suddenly I noticed the smaller circle "stick" to the outside edge of the larger circle after some time, and spin around it's outside circumference a few times before being merged into the larger circle after the lar

[2017-01-24 18:31] alignedleft commented on #515
Thanks! @REAS this looks related to #492, which you resolved. Is this a duplicate issue, or worth exploring a solution?

[2017-01-24 19:17] REAS commented on #515
@alignedleft Can you look into #492? Did I made that change in the example code? (I need to correlate my source changes to the issue numbers better in the future.)

[2017-01-31 15:36] acdean opened #518 "curvePoint confuses control points"
currently this says "a and d are points on the curve, and b and c are the control points." which i think is just copied from bezierPoint. but i think the opposite is true - a and d are control points and b and c are points on the curve. see parameter descriptions in curve().

https://processing.org/reference/curvePoint_.html

[2017-01-31 16:06] benfry commented on #518
Good catch, thanks.

[2017-02-08 17:34] jeremydouglass opened #519 ""Most Pixels Ever" appears twice on library page of processing.org"
### Issue description

The "Most Pixels Ever" library is represented two times on the library page.

### URL(s) of affected page(s)

https://processing.org/reference/libraries/

### Proposed fix

List "Most Pixels Ever" only once.

Reported by a user on the forums w screenshot: https://forum.processing.org/two/discussion/20718/processing-org-site-libraries#latest

[2017-02-10 23:58] shiffman commented on #519
@prisonerjohn is this something on my end?

[2017-02-12 06:17] jacopomazzoni opened #521 "Behavior Change in TextFont method of PGraphics Objects"
### Issue description

There is an undocumented change in behavior between processing 2 and processing 3.

in Processing 3 a `PGraphics` object needs to be initialized with a call to `.beginDraw()` before the font can be set with the `.textFont()` method.
This was not true in processing 2: the `.textFont()` method could be called at any time,(after pg = createGraphics(); ) and would successfully s

[2017-02-12 14:34] benfry commented on #521
Anything that affects a `PGraphics` must go inside `beginDraw()` and `endDraw()`. It was just a lucky coincidence that it worked earlier.

[2017-02-12 17:36] jacopomazzoni commented on #521
I agree and it's perfectly fine, it's just that this is the first time I run into that information.
( I actually probably found out about `pg.textFont()` from some unofficial youtube tutorial that used it that way, hence my previous error )

The docs do state that beginDraw initializes the default parameters but I had no clue that that's what I needed to look for as all I could tell was that somet

[2017-02-17 13:23] gohai opened #523 "Shader compiler error with MeshTweening on Pi"
@codeanticode Getting the following error message with GLES2: `ERROR:SEMANTIC-4 (vertex shader, line 12) Operator not supported for operand types`. Here's the shader:

[code]

Does  this look good to you? No use digging deeper on this one, just thought I point it out in case it's something trivial. (I don't know anything about shaders myself.)

[2017-02-17 13:49] codeanticode commented on #523
what happens if you do:

[code]

[2017-02-17 14:44] gohai commented on #523
Yes. Fantastico! Please review PR @codeanticode

[2017-02-17 14:44] #523 closed

[2017-02-25 18:38] prisonerjohn commented on #519
I've got 2 entries for Most Pixels Ever:
* http://shiffman.net/p5/libraries/mpe/mpe.txt
* http://shiffman.net/p5/libraries/processing3/mpe/mpe.txt

I'm assuming one is for Processing 2.x and the other for 3.x. @shiffman can you confirm this is correct?

[2017-02-27 16:33] JorianWoltjer opened #527 "delay(variable) doesn't work"
I was looking for an function that could stop the programm for a couple miliseconds and i found [delay() ](https://processing.org/reference/delay_.html)but when I try to put in a variable like `delay(timer)` it doesn't work.
It only works with a real number.
Is there an other function that can do this or am i using it wrong?

[2017-02-27 19:26] shiffman commented on #519
That's correct! Let me know if I need to change anything.

[2017-02-27 19:38] prisonerjohn commented on #519
Nope, that's all good. You could change the title of the old one to "Most Pixels Ever (Processing 2.x)" or something similar if we want to avoid confusion on the website, but it's up to you!

[2017-02-27 19:38] #519 closed

[2017-02-28 02:49] kfrajer opened #528 "Bug in circle collision detection example"
### Issue description
Provided example of collision detection experiences overlapping trapping when checking for collision between objects in certain situations. Solution is discussed **and** presented in the forum: https://forum.processing.org/two/discussion/20944/simple-rect-collision-from-array#latest

### URL(s) of affected page(s)
https://processing.org/examples/circlecollision.html

### Prop

[2017-02-28 02:53] kfrajer commented on #528
So there are already a couple tickets related to this problem. Here is one https://github.com/processing/processing-docs/issues/492

Kf

[2017-02-28 04:42] alignedleft commented on #528
Yes, thank you. It's still on my list to check into this — it's just taking me a bit. :-)

[2017-02-28 04:43] alignedleft commented on #528
Also reference #515 (note to self)

[2017-03-01 12:10] kidwao opened #529 "2 dimensional arrays"
### Issue description

size(200,200);
int cols = width;
int rows = height;

### URL(s) of affected page(s)

https://www.processing.org/tutorials/2darray/

### Proposed fix

Shouldn't be the other way around?
int cols = height;
int rows = width;

[2017-03-01 18:24] alignedleft commented on #529
I don't think so. Columns run vertically, but in terms of arrays we normally think about counting values "across" (horizontally).

Consider a spreadsheet table, in which columns are labeled ABCD… The columns themselves run vertically, but if you were to read off the values in adjacent columns, you would be reading "across," as in A1, B1, C2, D2…

![screen shot 2017-03-01 at 10 23 05 am](https://cl

[2017-03-01 18:24] #529 closed

[2017-03-03 17:34] REAS commented on #527
I just checked the delay() function is still working. Here's a sample:

[code]

Because this isn't a bug, please follow up with questions on the Processing Forum: https://forum.processing.org

[2017-03-03 17:34] #527 closed

[2017-03-04 23:10] NoNameAvailable1234567SoStupid opened #531 "Movie class doesn't exist in 3.3?"
### Issue description
another poster made the exact same post and got a wrong reply and closed thread on it:
https://github.com/processing/processing-docs/issues/484

it is an issue with the documentation:
https://www.processing.org/reference/libraries/video/Movie.html
"This reference is for Processing 3.0+. "

copy pasting the example code directly in will give you the error that the Movie class

[2017-03-04 23:41] #531 closed

[2017-03-07 15:38] JobLeonard opened #532 "`raw.github.com` does not redirect to `raw.githubusercontent.com` for me"
### Issue description

`raw.github.com` does not always redirect to `raw.githubusercontent.com`, resulting in dead links for some users.

https://developer.github.com/changes/2014-04-25-user-content-security/

(was first raised here: https://github.com/processing/processing/issues/4947#issuecomment-284753326 )

### URL(s) of affected page(s)

https://raw.github.com/processing/processing/master/bui

[2017-03-07 16:24] alignedleft commented on #532
Thanks for reporting this, and thanks @gohai for helping over in processing/processing#4947

I will take care of this and then ask you to re-test.

[2017-03-08 17:24] benfry opened #533 "Note that arc() always goes in a clockwise direction"
The `arc()` command expects the start/stop coordinates to work clockwise, which we should note in the docs.

[2017-03-09 01:41] cacoguaa opened #534 "Multiple Pentagons PShape Retained Mode Problems"
### Issue description
I was working in a Platonic Solid, the dodecahedron, and I need the retained mode to see the difference with immediate mode, then I'm create the shape and begin with multiple vertex the figure don't close verywell, and I don't know why, cuz in immediate mode all works very nice.

### URL(s) of affected page(s)

https://github.com/VisualComputing/rendering-modes-cacoguaa/blob/

[2017-03-14 23:26] gohai commented on #270
This example got recently removed.

[2017-03-14 23:26] #270 closed

[2017-04-03 06:48] DannyBoi92 opened #536 "SoundFile"
### Issue description
Processing.off>Libraries>Sound>SoundFile

I added an audio file in my sketch folder before I copied and paste the exact syntax of the SoundFile code to processing version 3.3 on my laptop and phone app. The console says "Error: SoundFile doesn't exist. Please check path." Can you help me? Please and thank you!

### URL(s) of affected page(s)

### Proposed fix

[2017-04-03 06:49] DannyBoi92 commented on #536
Processing.org

[2017-04-03 06:50] DannyBoi92 commented on #536
I still need help. Thank you

[2017-04-03 12:43] jairoasecas opened #537 "Print Example 6: Scale and segment an image problem."
### Issue description
Hi, I have a problem when I try to export a high quality frame with this technique.

/*
 * Example 6: Scale and segment an image
 *
 * Draws an image larger than the screen by tiling it into small sections.
 * The scaleValue variable sets amount of scaling: 1 is 100%, 2 is 200%, etc.
 */

int scaleValue = 3;  // Multiplication factor
int xoffset = 0;     // x-axis offset
int

[2017-04-03 13:32] #400 closed

[2017-04-03 18:52] alignedleft commented on #536
This isn't a bug, but is a great question for the forums: forum.processing.org

[2017-04-03 18:52] #536 closed

[2017-04-03 18:54] alignedleft commented on #537
This is not a bug with the documentation, but is a great question for the forum.  Please ask it at: forum.processing.org

[2017-04-03 18:54] #537 closed

[2017-04-05 03:03] leonidas2731 opened #538 "Movie Class doesn't exist Processing 3.3"
### Issue description
Hi! i'm new in processing  and i want create a Movie variable.
I have a conecction from arduino to Processing, and i want to play a video using data from arduino, but at the moment to create the variable Movie  type , jumps an error, i was looking in the web and found that in processing 3.3 the class 'Movie' was removed, so how can i create a variable movie type ? and it's tr

[2017-04-05 14:58] alignedleft commented on #538
Please post questions in the forum: forum.processing.org

[2017-04-05 14:58] #538 closed

[2017-04-06 04:08] REAS commented on #538
Yes, you need to import a library, the Video library. @alignedleft is correct, please ask questions on the Forum.

[2017-04-08 16:35] NadunTheKing opened #539 "functions,ball movement"
### Issue description
//declaringglobalvaribales
float dia1=50;//diameteroftheface
float  x=90;
float y=90;
float speedX=4;
float speedY=0;

//setup
void setup() {
  size(810, 810);
}

//draw
void draw() {
  background(225);
  display();
  move();
  changeDirections();
  createPoles();
}

void keyPressed() {
  if (keyCode=='W') {
    speedX=0;
    speedY=-4;
  }

  if (keyCode=='S') {
    speedX=0

[2017-04-08 17:16] #539 closed

[2017-04-10 16:32] NadunTheKing opened #540 "Processing problem with rotate function"
### Issue description
void draw() {

  background(225);
  fill(225, 0, 0);
  stroke(0);
//rotate(radians(90));
  ellipse(x, y, dia1, dia1);
  fill(0, 225, 0);//a nose
  triangle(x, y, x+10, y+10, x-10, y+10);
   x=x+speedX;//movingtheballXway
  y=y+speedY;//movingtheballYway

   if (x>width-dia1/2 || x<2+dia1/2) {//if it hits the left or right corners it will turn around
    speedX=speedX*-1;

  }

[2017-04-10 16:40] alignedleft commented on #540
Please ask questions in the forum: forum.processing.org

Github Issues is for reporting issues — as in, problems with the website.

[2017-04-10 16:40] #540 closed

[2017-04-21 21:28] benfry opened #543 "Need docs that pixelDensity(2) affects all pixel operations"
See https://github.com/processing/processing/issues/5010

[2017-04-22 10:58] ptr2null opened #544 "Clear() Method Description Page confusing"
### Issue description
The description tells the reader that this method clears the pixel within a buffer. That seems not be actually correct: This method just set the background to (0,0,0,0), so fully reset the background (Source Code of PGraphics.java, current version). It does nothing else, so drawn lines or points were not erased and can still be seen.

### URL(s) of affected page(s)
https://pr

[2017-04-22 12:30] ascherer opened #545 "Typos in Handbook (2nd ed., 3rd prt.)"
### Issue description

Page xvii, line -7: “the ability to **create** refined graphics”
Page 11, sample 2-02: “Set line <del>value</del><ins>color</ins> to white”
Page 43, lines 7–8: “until **it is** changed again”
In chapter 7, “Interactivity,” several occurrences of value `100` should be replaced by `width` and `height`, resp.
<del>Page 101, code 7-32: replace the second `height` with `width`</d

[2017-04-22 13:42] benfry opened #546 "Issue in example "MouseSignals""
Reported here: https://github.com/processing/processing/issues/5020

[2017-04-23 00:18] REAS commented on #543
Yes, embarrassingly, this is #170

[2017-04-23 00:18] #543 closed

[2017-04-23 20:46] alignedleft commented on #544
Yes, this is what `PGraphis.clear()` is supposed to do: “… clears everything in a PGraphics object to make all of the pixels 100% transparent.”

If you're seeing otherwise, could you post some example code to reproduce? Please clarify what you'd expect to see, and what you do see. Thanks!

[2017-04-24 03:35] Lou66 opened #547 "text problem"
### Issue description
in Processing 3.3.1 the following code throws an ArrayIndexOutOfBoundsException:34
   String str1 = "broken";
   text(str1,60,60);

The same code works fine in 3.3.0

### Proposed fix
?

[2017-04-24 08:45] ptr2null commented on #544
Hey! Thank you for picking this up. Maybe I make a fool of me, but I really don't get the point of the concept.

Let's take the example on the reference page of the clear() method, but put the line of background() in the setup() method. Let it run in processing.

[code]

The result of the example above is that every drawn line is still seen. If I put the `background(204)` line in the draw method,

[2017-04-24 11:05] benfry commented on #544
The mousePressed() method is called after everything else in draw(), which means you never see the results of your clear() call.

[2017-04-24 11:19] benfry commented on #547
That's working for me; perhaps there's an error elsewhere in your code?

<img width="654" alt="screen shot 2017-04-24 at 7 17 58 am" src="https://cloud.githubusercontent.com/assets/1623101/25334792/2d46b8b8-28be-11e7-97a8-ea1dde9fd857.png">

(Also please post future bug reports [over here](https://github.com/processing/processing/issues), this area is for documentation problems)

[2017-04-24 11:19] #547 closed

[2017-04-24 11:56] ptr2null commented on #544
Thank you, benfry, for joining in.

Do I understand this correctly that the clear() method justs sets all pixels transparent, so that the next call of any drawing function is able to paint over the drawn pixels?

[2017-04-29 14:12] Nuko67 opened #548 "Processing PWM"
Hello, we are doing a project to achieve boat control. We controlled DC motor, servo motor from Processing. But we couldn't control the speed of DC Motor. By the way we use processing in Raspberry Pi 3. (Processing 3.3). We  tried this syntax in link(https://processing.org/reference/libraries/io/PWM.html).

But syntax gives an error "cannot make a static reference to the non-static method".

For e

[2017-04-30 00:17] benfry commented on #548
@gohai library update inconsistency?

[2017-04-30 06:45] gohai commented on #548
@Nuko67 Which board are you trying this on?

    import processing.io.*;
    PWM pwm;

    void setup() {
      size(300, 100);
      // you might need to use a different channel on other SBCs
      pwm = new PWM("pwmchip0/pwm0");
    }

    void draw() {
      background(255);
      pwm.set(map(mouseX, 0, width, 0.0, 1.0));
      line(mouseX, 0, mouseX, height);
    }

Give this a try - on the th

[2017-04-30 11:33] nekketsuuu opened #549 "Typo in the video tutorial"
### Issue description

There is a typo in the tutorial article of video.

### URL(s) of affected page(s)

https://processing.org/tutorials/video/

### Proposed fix

`import processing video.` should be `import processing.video.*;`.

[2017-04-30 12:01] benfry commented on #548
@gohai Wonder if there's a way for us to launch the sketch from the PDE using sudo (so that the PDE isn't running as superuser, but the sketch may.) Or to deal with the permissions problems w/ the sketchbook, does `sudo -H` help? We should probably open a separate issue for this, depending on the priority as you see it.

[2017-04-30 12:15] Nuko67 commented on #548
@gohai Thanks for your  feedback. PWM pwm; and   pwm = new PWM("pwmchip0/pwm0"); these codes worked. We can use set() function. It does not give an error now with sudo processing.

But now we are see a new error.
set(int period,float duty)
pwm.set(1,1.0);

set function's period works with only 1 value. Otherwise it gives an error " /sys/class/pwm/pwmchip0/pwm0/period: Invalid argument"

Do you hav

[2017-04-30 12:44] gohai commented on #548
@Nuko67 `period` is in Hz, `duty` is between 0.0 and 1.0. Not sure which of the two you are referring to when you write you're getting the error with any values but zero - but try

    pwm.set(0.5);  // 50% duty with default 1 kHz period

[2017-04-30 12:52] gohai commented on #548
@benfry Ideally I'd love to get this solved in the kernel so that we don't have to - wrote the Raspberry folks about this over a year ago, but nothing yet; perhaps if I can get together a patch myself, Raspbian could fairly quickly deploy this in a kernel update (they do this quite regularly), and submit this upstream as well

[2017-05-01 08:17] gohai commented on #548
I sent a patch for the Linux kernel: http://www.spinics.net/lists/linux-pwm/msg06081.html

[2017-05-01 09:54] Nuko67 commented on #548
@gohai Thank you. We solved the problem with pwm.set(1,0.5);

We thought we can use only 0.0 or 1.0 for duty.

[2017-05-01 10:00] gohai commented on #548
@Nuko67 Glad to hear this is working for you. Much fun and don't forget to share your intriguing project :)

[2017-05-01 10:00] #548 closed

[2017-05-04 18:00] benfry opened #550 "Need a link to the JOGL docs about how to use keys we don't support"
Apropos of https://github.com/processing/processing/issues/4979, we should add a link to the keys docs about how to use weird keys with P2D/P3D. There's a link to the JavaDoc which covers the Java2D case, but we need a similar link for OpenGL. (And, presumably JavaFX.)

Perhaps @codeanticode can to point us in the right direction here.

[2017-05-04 18:11] benfry opened #551 "Typo in beginContour example"
The beginContour example at https://processing.org/reference/PShape_beginContour_.html has a typo, see here: https://github.com/processing/processing/issues/4978

[2017-05-08 04:53] jeremydouglass commented on #519
Belatedly -- To make sure I understand, the two identical entries on the Libraries page, both under Utilities, both linking to the same URL for this repo:

https://github.com/shiffman/Most-Pixels-Ever-Processing

...are necessary because the PDE library interface has separate entries for 2.0 and 3.0, but they point to the same repo?

That is a bit confusing -- particularly because I'm only seeing

[2017-05-08 08:56] jakobmoss opened #552 "Error in pixel convolution tutorial"
### Issue description
There is a small error in the Processing.py pixels tutorial *Sharpen with Convolution*. The main loop is set to be:
[code]
which processes the entire image until the position of the mouse, instead of just the rectangle.

### URL(s) of affected page(s)
http://py.processing.org/tutorials/pixels/

### Proposed fix
Change the loop to:
[code]
This also matches the original example

[2017-05-08 11:25] benfry commented on #519
@prisonerjohn @shiffman Perhaps better to remove all 2.x libraries from that page at this point? (2.2.1 is now 3 years old…)

[2017-05-08 14:48] jeremydouglass commented on #519
I don't mean to be stirring up trouble or saying that 2.x libraries shouldn't be featured. I'm just wondering if there is a way to distinguish the two MPEs on the website library page -- by title, by URL, or something else -- and why two options appear on the website but only one option shows up in the PDE Add Tool dialog. Just genuinely confused about what is happening (I'm assuming the website l

[2017-05-08 15:42] benfry commented on #519
Nah, not trouble—this is just the sort of decision we have to periodically re-evaluate. When last considered, 3.x was new enough and our top priority was the smoothest possible transition.

If you're confused by the multiple libraries, and follow the project as closely as you do, then god knows that the great majority of our target audience (in particular) will be thrown off.

Removing the 2.x stu

[2017-05-09 20:41] REAS commented on #519
I agree with @benfry. We should maintain the separate lists for the software direct download, but only feature the 3.0 libraries on the Libraries page on the site. @shiffman, @prisonerjohn, does this sound OK for you?

[2017-05-09 20:43] REAS commented on #552
Thank you for taking the time to report this. Can you please post on the Processing.py repo? We have different people taking care of each project. https://github.com/jdf/processing.py/issues

[2017-05-09 20:43] #552 closed

[2017-05-09 20:46] REAS commented on #549
Thank you. I will fix this.

[2017-05-10 11:02] prisonerjohn commented on #519
Yes, that sounds good. I'll look into editing the script that generates the Libraries and Tools pages in the next few days.

[2017-05-10 11:03] prisonerjohn opened #553 "Update Libraries and Tools page generation to only populate from 3.0 list."
That's using `contribs.txt` only and not `contributions.txt`

[2017-05-10 18:17] benfry commented on #519
Thanks for the help @prisonerjohn

[2017-05-14 15:40] shiffman commented on #519
Popping in to say this all sounds good to me too! Thank you @prisonerjohn

[2017-05-18 00:46] lymdsn opened #554 "Issue in Example "Loading Tabular Data""
### Issue description
I have created the "data.csv" file and just copy & paste the code in the example. However, it cannot be run in my computer. Just like the following pictures.

![screenshot1](https://cloud.githubusercontent.com/assets/28768548/26181889/c2366fdc-3b41-11e7-82b3-8ac27775c87c.png)
![screenshot2](https://cloud.githubusercontent.com/assets/28768548/26181888/c233944c-3b41-11e7-8966-3

[2017-05-18 01:10] lymdsn commented on #554
It already be solved! The problem is the file name. I should not use "Table" as the file name because it has been used in the contants. Changing a random name will make it work!

[2017-05-18 01:29] benfry commented on #554
Duplicate of https://github.com/processing/processing/issues/196

[2017-05-18 01:29] #554 closed

[2017-05-19 04:04] swadrian21 opened #555 "variavle"
### Issue description
Additional Details
The following section contains the additional details that were recorded.

These details help accurately identify the programs and UI you used in this recording.

This section may contain text that is internal to programs that only very advanced users or programmers may understand.

Please review these details to ensure that they do not contain any informat

[2017-05-22 18:55] gohai commented on #555
@swadrian21 Sorry, this information on its own does not help us figure out what went wrong. Closing.

[2017-05-22 18:55] #555 closed

[2017-05-30 17:11] scarafleus opened #557 "BUG - variables in size() function"
### Issue description

when you use a var, like int in size it will give you an error message
![unbenannt](https://cloud.githubusercontent.com/assets/28214932/26595380/7afc8f1e-456b-11e7-9d5c-3b9b7fcbdd58.PNG)
This window cannot be closed (tried this on 2 pcs), programm has to be shut down using task manager and all code created after saving is lost.
You can also not tab back into the editor and d

[2017-05-31 18:25] montoyamoraga opened #558 "noiseDetail() reference"
### Issue description

There is a typo, it says "overal" instead of "overall"

### URL(s) of affected page(s)

https://processing.org/reference/noiseDetail_.html

### Proposed fix

"overall" instead of "overal"

[2017-06-02 14:00] #557 closed

[2017-06-04 11:42] akshayasbhavke opened #559 "serial library isn't useful for javascript"
### Issue description

### URL(s) of affected page(s)

### Proposed fix

[2017-06-06 13:24] SheldonDE opened #560 "bug with incompleted line"
### Issue description

the variable **_height_** in the 13th line of the program:
void setup() {
  size(100, 100);
}

void draw() {
  background(204);
  if (mousePressed == true) {
    cursor(HAND); // Draw cursor as hand
  } else {
    cursor(CROSS);
  }
  line(mouseX, 0, mouseX, height);
  line(0, mouseY, **_height_**, mouseY);
}

should be change to **_width_** to fix the bug with the incoplete

[2017-06-06 17:08] REAS commented on #559
This is true, but what Issue are you reporting? Is there a bug in the reference that says that it is, etc.?

[2017-06-08 04:56] NihuZayra opened #561 "Arduino interfacing Issue"
I Followed all the steps for interfacing the arduino with processing3 (probably!), included all the libraries and copied the example of blinking the LED on Arduino. LED blinks like before and no changes are observed. Instead after running the program i notice only the "RECIEVER"of the arduino blinks and the "TRANSMITTER" does not, and its unable to run. How do i solve this problem?

[2017-06-08 15:25] REAS commented on #561
Please use the Processing and/or Arduino forums for general questions and help. This spot is for posting bugs in the Processing Reference.

[2017-06-08 15:25] #561 closed

[2017-06-09 16:52] AmnonOwed opened #562 "Url redirect on processing.org is causing problems"
### Issue description
There currently seems so be some kind of url redirection from processing.org to https://day.processing.org/ (without a way to click through to the original site by the way, which is kind of user-unfriendly). But the real problem is that this affects many other urls on the domain as well, for example all downloads.

If you click the download link...
http://download.processing.

[2017-06-09 17:09] REAS commented on #562
Thank you for reporting. I'll pass on the information and hopefully it will be fixed asap.

[2017-06-09 17:21] benfry commented on #562
Oops, just put in a fix and it seems to be working. Keep me posted (in case it breaks any of the other subdomains). Multi-site configuration is a dark art…

[2017-06-09 17:27] REAS commented on #562
I confirm the downloads are working again. The Forum, Android, and Py subdomains all seem to be working. I'm closing this for now. Thank you @AmnonOwed

[2017-06-09 17:27] #562 closed

[2017-06-10 00:13] REAS opened #563 "Add new Book to Book page"
Add this book to the book page: https://www.crcpress.com/Processing-An-Introduction-to-Programming/Nyhoff-Nyhoff/p/book/9781482255959

[2017-06-15 15:07] ascherer commented on #545
Suggestion for improved coding convention in “Objects” chapter, exemplified by a modified version of Code example 25-04:
[code]

[2017-06-18 04:24] montoyamoraga opened #564 "typo on the curly braces reference"
### Issue description
typo on the curly braces reference

### URL(s) of affected page(s)
https://processing.org/reference/curlybraces.html

### Proposed fix
it says "inital", should say "initial"

[2017-06-22 03:50] REAS commented on #563
Done with processing/processing-docs#565

[2017-06-22 03:50] #563 closed

[2017-06-22 22:49] montoyamoraga opened #566 "Duplicated parameter in noiseDetail() reference"
### Issue description
Duplicated parameter in noiseDetail() reference

### URL(s) of affected page(s)
https://processing.org/reference/noiseDetail_.html

### Proposed fix
There is two "lod" parameter definitions with the same text.
 One should be deleted.

[2017-06-22 22:50] montoyamoraga commented on #566
also, it says "overal" instead of "overall"

[2017-06-29 17:51] montoyamoraga opened #567 "'double' reference"
### Issue description
there is a mistake on the example, it says a variable of datatype double is a float.

### URL(s) of affected page(s)
https://processing.org/reference/double.html

### Proposed fix
it says:
double a;            // Declare variable 'a' of type float
it should say:
double a;            // Declare variable 'a' of type double

[2017-06-29 18:52] montoyamoraga opened #568 "typo in HashMap reference"
### Issue description
typo in HashMap reference

### URL(s) of affected page(s)
https://processing.org/reference/HashMap.html

### Proposed fix
it says
"interate"
it should say
"iterate"

[2017-06-29 22:19] montoyamoraga opened #569 "typo in split() reference"
### Issue description
typo in split() reference

### URL(s) of affected page(s)
https://processing.org/reference/split_.html

### Proposed fix
it says:
"...array to to a float[]..."
should say:
"...array to a float[]..."

[2017-06-29 23:16] montoyamoraga opened #570 "typo in splice() reference"
### Issue description
typo in splice() reference

### URL(s) of affected page(s)
https://processing.org/reference/splice_.html

### Proposed fix
it says:
"...the intial array..."
it should say:
"...the initial array..."

[2017-06-30 04:09] montoyamoraga opened #571 "typo in sphereDetail() reference"
### Issue description
typo in sphereDetail() reference

### URL(s) of affected page(s)

https://processing.org/reference/sphereDetail_.html

### Proposed fix

it says:
"revolutoin"
it should say:
"revolution"

[2017-06-30 05:31] montoyamoraga opened #572 "typo in quadraticVertex() reference"
### Issue description
typo in quadraticVertex() reference

### URL(s) of affected page(s)
https://processing.org/reference/quadraticVertex_.html

### Proposed fix
it says:
"one control points"
it should say:
"one control point"

[2017-06-30 16:13] montoyamoraga opened #573 "typo in key reference"
### Issue description
typo in key reference

### URL(s) of affected page(s)
https://processing.org/reference/key.html

### Proposed fix
it says:
"... if they key is ..."
it should say:
".. if the key is ..."

[2017-06-30 16:14] montoyamoraga commented on #573
also:

it says:
"... of keyCode If ..."
it should say:
".. of keyCode. If ..."

[2017-07-02 08:56] ascherer commented on #545
Suggestion for Page 424 in chapter “Arrays”: In addition to mentioning the `arrayCopy(array1,array2)` function, which copies the elements from `array1` to `array2`, a footnote (and entry to the “Cide Index”) about
[code]
might be useful for the reader.

The former is prone to blow an **ArrayIndexOutOfBoundsException** if `array2` does not have _at least as many_ slots as `array1`.

The latter _cre

[2017-07-02 15:54] ascherer commented on #545
First full reading finished. Issue ready to be processed.

[2017-07-03 23:07] REAS commented on #545
Thank you for these! That was a tremendous amount of work. I'm sending the following on to the publisher:

`- Page xvii, line -7: “the ability to create refined graphics”
- Page 43, lines 7–8: “until it is changed again”
- Page 101, code 7-32: replace the second height with width
  . last line of code, "line(0, mouseY, width, mouseY);"
- Page 103, lines 13–14: “… into a more compact, but equivalen

[2017-07-03 23:08] #545 closed

[2017-07-04 06:13] probablynot opened #574 "Typo on https://processing.org/tutorials/objects"
### Issue description

This sentence should not use past tense 'initialized'

To implement the above pseudo-code, we would define global variables at the top of the program, initialized them in setup(), and call functions to move and display the car in draw(). Something like:

### URL(s) of affected page(s)

https://processing.org/tutorials/objects

### Proposed fix

'initialized' should be 'initi

[2017-07-04 11:05] filip opened #575 "Generate not updating the website"
### Issue description

Just tried to generate, exhibition and cover and no update. Maybe its cached, not sure. Git up-to-date.

### URL(s) of affected page(s)

https://processing.org
https://processing.org/exhibition/

### Proposed fix

/

[2017-07-05 18:35] REAS commented on #575
OK, hours later, it's fixed. Thank you for reporting it. An update to PHP broke the generation code. The eregi() function needed to be replaced by preg_match() and preg_match_all()

[2017-07-05 18:35] #575 closed

[2017-07-05 18:35] REAS commented on #575
Thank you for updating the exhibition!

[2017-07-07 18:06] REAS opened #576 "Download page immediately redirects to https://processing.org/download/support.html"
I received a report that the Download page immediately redirects to https://processing.org/download/support.html so there's no opportunity to download the software.

Is this an issue that affects others? I haven't been able to reproduce the issue.

[2017-07-07 18:07] REAS opened #577 "Add "Creating Procedural Artworks With Processing" to Books page"
See: http://holistic3d.com/creating-procedural-artworks/
https://www.amazon.com/gp/product/153286180X

[2017-07-07 21:03] #553 closed

[2017-07-09 10:57] Thzn commented on #576
Hi,
I'm using Google Chrome as my browser. When downloading the software the download page redirects to   https://processing.org/download/support.html.
But still, I'm able to download the software because the download manager (save file window) is popping up.

[2017-07-09 13:22] Lumek4 opened #578 "Eclipse tutorial does not allow for full Processing funcionality."
### Issue description
The Eclipse tutorial does not account for the use of functions such as void mouseClicked(), void mouseDragged(), nor void mouseWheel().

### URL(s) of affected page(s)
https://processing.org/tutorials/eclipse/

### Proposed fix
If there is any, propose a way to implement those functions to your Eclipse sketch.

[2017-07-10 22:17] AndyatFocallocal commented on #532
i have this issue. the rest of my team is all able to access the raw tab, but i am redirected to an error page.

we had a serious and unnoticed bug, needed to revert to an old copy, and now need to copy/paste all of our work back into the codebase. i'm unable to do so as i can't open the raw page

[2017-07-12 02:50] johnbentcope commented on #77
Neither of these hints work for me in the 3.3.5. I am passing in a color object with an alpha value with s.setFill(colorWithAlpha) and rendering shape(s) in the next line. No effect from the alpha value in this example.

`
    glazeChunk.setFill(glazeColors[2]);
    shape(glazeChunk);
`

[2017-07-12 05:28] montoyamoraga opened #579 "typo in frustum() reference"
### Issue description
typo in frustum() reference

### URL(s) of affected page(s)
https://processing.org/reference/frustum_.html

### Proposed fix
it says:
"acheived"
it should say:
"achieved"

[2017-07-12 05:30] montoyamoraga opened #580 "missing parameter in emissive() reference"
### Issue description
missing parameter in emissive() reference

### URL(s) of affected page(s)
https://processing.org/reference/emissive_.html

### Proposed fix
in the syntax it says:
"emissive(gray)"
but the gray parameter is never defined, it should be defined.

[2017-07-12 05:31] montoyamoraga opened #581 "missing parameter in specular() reference"
### Issue description
missing parameter in specular() reference

### URL(s) of affected page(s)
https://processing.org/reference/specular.html

### Proposed fix
in the syntax it says:
"specular(gray)"
but the gray parameter is never defined, it should be defined.
--

[2017-07-12 05:38] montoyamoraga opened #582 "missing parameters in selectFolder() reference"
### Issue description
missing parameters in selectFolder() reference

### URL(s) of affected page(s)
https://processing.org/reference/selectFolder_.html

### Proposed fix
the parameters should include the description of file, callbackObject, parentFrame, sketch.

[2017-07-12 05:39] montoyamoraga opened #583 "missing parameter in loadJSONArray() reference"
### Issue description
missing parameter in loadJSONArray() reference

### URL(s) of affected page(s)
https://processing.org/reference/loadJSONArray_.html

### Proposed fix
the "file" parameter should be defined on the parameters list

[2017-07-12 05:41] montoyamoraga opened #584 "mistake in ambientLight() reference"
### Issue description
mistake in ambientLight() reference

### URL(s) of affected page(s)
https://processing.org/reference/ambientLight_.html

### Proposed fix
it says:
"... direction, the rays have light have bounced around so much ..."
it doesn't make sense, right?

[2017-07-18 04:41] Abdur-rahmaanJ opened #585 "processing py (quickly disposed of issue)"
### Issue description

i cannot find the repo of processing python nor status of work in progress

### URL(s) of affected page(s)

### Proposed fix

make the python section less blank

[2017-07-18 22:33] REAS commented on #585
https://github.com/jdf/processing.py

[2017-07-18 22:33] #585 closed

[2017-07-22 23:54] Rolembeek opened #586 ""selectFolder" doesn't work in 3.3.5 ?"
### Issue description
I'm just trying to run the example :
file:///C:/Program%20Files/processing-3.3.5/modes/java/reference/selectFolder_.html
Without any modification on Win10 64b.
The (small) window appears briefly and then I get a long error message :

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000000006c7a6adf, pid=

[2017-07-24 01:31] Rolembeek commented on #586
Sorry for the big characters ... :-(  I just did a copy/paste from the console window ...

[2017-07-25 15:50] matteboro opened #587 "processing, problem with capture"
### Issue description
when i try to load a live video from the camera of my computer the frame rate is very low and the image greenish
what can i do?it is a bug?

### URL(s) of affected page(s)

### Proposed fix

[2017-07-27 05:26] REAS commented on #587
This is place to report issues with the documentation and website. Please discuss this on the Processing forum, or if you do think it's a bug, post to the Video repo: https://github.com/processing/processing-video

[2017-07-27 05:26] #587 closed

[2017-07-27 13:26] montoyamoraga opened #589 "typo in People website"
### Issue description
typo in People website

### URL(s) of affected page(s)
https://processing.org/people/

### Proposed fix
it says "incorporting", it should say "incorporating"

[2017-08-04 18:36] ewelinka opened #592 "Default setting for arc() imposible te set after first arc mode selection"
### Issue description
It's a little bit confusing to have an initial setting (PIE fill + OPEN stroke) that is imposible to set if you, for example, first defined an arc in OPEN, PIE or CHORD mode and THEN, after drawing the first arc you want to draw an arc with PIE fill + OPEN stroke.

### URL(s) of affected page(s)
https://processing.org/reference/arc_.html

### Proposed fix
Introduce OPEN_PIE s

[2017-08-09 11:56] gaocegege opened #593 "Inconsistency in resetMatrix()"
@jeremydouglass FYI

### Issue description

The example code could not generate the image on the site.

![image](https://user-images.githubusercontent.com/5100735/29120443-bf19f9b2-7d3c-11e7-9400-8204795ad9b5.png)

### URL(s) of affected page(s)

https://processing.org/reference/resetMatrix_.html

### Proposed fix

Fix the image

[2017-08-09 13:53] ewelinka commented on #592
not true! my mistake!

[2017-08-09 13:53] #592 closed

[2017-08-09 14:42] osengaa10 opened #594 "Python tutorial print mouse coordinates"
### Issue description
First function under "Mouse Data" tutorial throws this error:

_processing.app.SketchException: TypeError: unsupported operand type(s) for +: 'int' and 'str'
	at jycessing.mode.run.SketchRunner.convertPythonSketchError(SketchRunner.java:248)
	at jycessing.mode.run.SketchRunner.lambda$2(SketchRunner.java:122)
	at java.lang.Thread.run(Thread.java:748)
_

### URL(s) of affected

[2017-08-10 13:22] q2dg commented on #406
Come on guys...it's only a matter of copying/pasting "PDF Export" library pages and then editing few words on them...

[2017-08-11 02:12] gaocegege opened #595 "The fourth example in `createShape` looks weird"
@jeremydouglass FYI

### Issue description

The fourth example in `createShape` looks weird. It should be a alien but it does not look like it.

[code]

![image](https://user-images.githubusercontent.com/5100735/29199198-53460e28-7e7d-11e7-8ed3-a93ce37cc8c0.png)

### URL(s) of affected page(s)

https://processing.org/reference/createShape_.html

### Proposed fix

No idea

[2017-08-13 10:28] cchaine commented on #595
The location from which ellipses are drawn by default is their center whereas rectangles are drawn from their upper left corner. In the exemple we want the center of the ellipse and the center of the rectangle to be vertically aligned. Therefore you need to add `ellipseMode(CORNER);` before creating the head shape.

[https://processing.org/reference/ellipseMode_.html](url)

I will make a pull requ

[2017-08-14 02:57] gaocegege commented on #595
LGTM 👍

[2017-08-17 18:21] lucasviieira opened #603 "Mouse Buttons Example"
### Issue description

The word "true" doesn't exist on Python:

def setup():
    size(100, 100)

def draw():
    background(204)
    if (mousePressed == true):
        fill(255)   # White
    else:
        fill(0)   # Black
    rect(25, 25, 50, 50)

### URL(s) of affected page(s)

http://py.processing.org/tutorials/interactivity/

### Proposed fix

def setup():
    size(100, 100)

def draw():

[2017-08-17 18:23] lucasviieira opened #604 "Cursor Icon Second Example"
### Issue description

Use void instead of def

def setup():
    size(100, 100)
    noCursor()

void draw():
    background(204)
    if (mousePressed):
        cursor()

### URL(s) of affected page(s)

http://py.processing.org/tutorials/interactivity/

### Proposed fix

def setup():
    size(100, 100)
    noCursor()

def draw():
    background(204)
    if (mousePressed):
        cursor()

[2017-08-17 18:27] #603 closed

[2017-08-17 18:28] #604 closed

[2017-08-21 02:50] gaocegege opened #605 "[Question] Where is laDefense.jpg"
### Issue description

[code]

I am writing the references for the new Mode: R for Processing, and I could not find the image `laDefense.jpg` in this repo. Could someone familiar with the example tell me where to find it?

I'd appreciate it. 😃

### URL(s) of affected page(s)

The third example in https://processing.org/reference/background_.html

### Proposed fix

Nope.

[2017-08-21 16:07] scpDgJ opened #606 "str(long)"
### Issue description
the str() method returns a string with a "float" format when passed a long type value:
long x = 135L;
println(str(x));
will print: "153.0" instead of "153".
### URL(s) of affected page(s)
https://processing.org/reference/strconvert_.html

[2017-08-22 18:52] jeremydouglass opened #607 "createReader example fails with unhandled exception"
### Issue description

The createReader example code given here:

https://processing.org/reference/createReader_.html

...fails with an unhandled exception type IOException. See discussion https://forum.processing.org/two/discussion/23880/processing-reader#latest.

### URL(s) of affected page(s)

https://processing.org/reference/createReader_.html

### Proposed fix

`createReader` should be wrappe

[2017-08-23 16:15] benfry commented on #607
We should probably just fix that example… not a great way to show how `createReader()` works. Better would be a single function (with a single try/catch) that reads the file and does something with it.

[2017-09-04 04:23] jeremydouglass commented on #502
Looks like it was fixed!

[2017-09-04 04:23] #502 closed

[2017-09-07 04:03] Leamucho opened #608 ">> (right shift) with mistake on explanation"
### Issue description
The reference description part of right shift is arguing that each left shift divides the original number by two, after saying that each right shift halves the original, so it goes out of common sense fortunately, but it can be misleading

### URL(s) of affected page(s)
https://processing.org/reference/rightshift.html

### Proposed fix
At the center of the Description paragra

[2017-09-07 22:22] SkullKeep opened #609 "Trim() wrong line in Example"
### Issue description
Wrong posted line in example. Line with :
println(a2);
// Prints the following array contents to the console:
// [0] "inconsistent"
// [1] "spacing"
Doesn't print in console :
 [0] "inconsistent"
 [1] "spacing"
but prints :
inconsistent spacing

### URL(s) of affected page(s)
https://processing.org/reference/trim_.html

### Proposed fix
Change line to:
_printArray(a2);
// Pri

[2017-09-12 12:05] Fonstw96 opened #610 "Typo in Colour Tutorial"
These lines:
[code]

On http://py.processing.org/tutorials/color/

Should most likely be changed to:
[code]

[2017-09-12 13:50] Fonstw96 commented on #594
I would remove the `)` at the end of your code.

[2017-09-21 10:25] crazymaster commented on #14
It seems to bring back alphabetical reference (https://processing.org/reference/alpha),
but the link is missing.

[2017-09-26 21:13] chris-relaxing opened #613 "interactivity page: true should be True"
### Issue description
"true" should be "True" here:
http://py.processing.org/tutorials/interactivity/

def draw():
    if (mousePressed == true):
        if (mouseButton == LEFT):
            fill(0)   # Black
        elif (mouseButton == RIGHT):
            fill(255)   # White
    else:
        fill(126)   # Gray

    rect(25, 25, 50, 50)

### URL(s) of affected page(s)

### Proposed fix

[2017-09-26 23:13] benfry commented on #613
Post this one over here: https://github.com/jdf/processing.py/issues so that it gets to someone who can help.

[2017-09-26 23:13] #613 closed

[2017-09-27 02:28] G-RaspIT opened #614 "typo in Hardware I/O tutorial for LED"
###
**The LED tutorial didn't run on the Raspberry Pi3**
for Processing 3.3.6

### URL(s) of affected page(s)
https://processing.org/reference/libraries/io/LED.html

### Proposed fix

- greenLed ist list entry [5]
- ".set()" command replaced by ".brightness()" for switching the led

[code]

[2017-10-04 02:55] jmfessy opened #615 "Example for text rotation"
### Issue description
I want to rotate text. I'm a beginner and might just be a silly error but there doesn't seem to be an answer to this anywhere online.

### URL(s) of affected page(s)
NA

### Proposed fix
So far I'ved tried..
textSize(textSizeSmall);
 rotate(90);
  text("Low (F)",100, 500);

However, this just causes the text to disappear. Plz help!

[2017-10-04 17:46] macfree opened #616 "Error messages - debugging suggestion"
### Issue description

First Im not sure this is the right place to Document this kind of issue, please direct me where to put it appropriately.

I copied some Java code (from D.Shiffmans Coding Challange #51) into Processing and tried to use error codes in order to amend it to processing code. The error codes are not accurate, even though I saw that they in version3 should better pinpoint the pro

[2017-10-12 23:26] REAS commented on #615
I think this would be a good addition to the Examples. I'm going to change the title and assign it. For programming questions, please use the Forum: https://forum.processing.org

Hint: angles for rotate() should be in radians, not degrees. Try a smaller number in there like 0.1

[2017-10-18 17:04] REAS opened #618 "Add new Bryan Chung book to Books page"
http://www.apress.com/us/book/9781484227749

[2017-10-18 18:45] REAS commented on #616
Better error messages and reporting is something we've been working on for years and years... If you can point to a specific issue, please let us know. For example, a specific problem with the code that is reported inaccurately. The place to do that is over at processing/processing. This spot is for documentation: website, reference, examples, etc.

[2017-10-18 18:45] #616 closed

[2017-10-18 18:46] REAS commented on #614
@gohai Could you have a look at this? I can make the change with your nod.

[2017-10-18 18:49] REAS commented on #610
First, thank you for reporting the issue. The Python project is here on GitHub: https://github.com/jdf/processing.py This repo is for Processing (Java). Can you please post over there?

[2017-10-18 18:49] #610 closed

[2017-10-18 18:55] REAS commented on #609
Thank you. This will be fixed with the next update.

[2017-10-18 18:55] #609 closed

[2017-10-19 16:53] bbogart opened #619 "Typo in P3D Tutorial"
### Issue description
In the P3D tutorial. The third point likely contains an error:

### URL(s) of affected page(s)
https://processing.org/tutorials/p3d/

### Proposed fix
The line should probably read